.ui-menu{
    li{
        &:before{
            display: none;
        }
    }
}
.ui-state-hover, .ui-state-active {
    background-color: $bleu-link!important;
    border-color: $bleu-link!important;
}
