/* Breadcrumb */

.breadcrumb{
    padding: 0 $gutter;
    margin: 50px 0 0;
    font-size: 0.75em;
    line-height: 1;
    color: #c7c2c2;
    li{
        display: inline-block;
        margin: 0;
        &:before{
            display: none;
        }
    }
    a, span{
        @extend %btn-arrow-base;
        @extend %btn-arrow;

        @include ellipsis;

        display: block;
        max-width: 285px;
        color: inherit;
    }
    span{
        &:after{
            display: none;
        }
    }
    a{
        &:focus, &:hover{
            color: mix(white, #c7c2c2, 30%);
        }
        &:active{
            color: mix(black, #c7c2c2, 30%);
        }
    }
}
