/* Footer */
$padding-top-footer: 45px;
$padding-bottom-footer: 130px;

#footer{
	background-color: rgb(57, 61, 71);
	color: $blanc;
	position: relative;
	z-index: 1;
	&:before{
		content: '';
		display: block;
		width: 50%;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		background: rgb(40, 44, 52);
		z-index: -1;
	}
	h2{
		margin: 0 0 0.8em 0;
		padding: 0;
		color: $blanc;
	}
	p{
		font-size: 0.875em;
		line-height: 1.5em;
		margin: 1em 0;
	}
	.container{
		position: relative;
		padding: $padding-top-footer 0 $padding-bottom-footer 0;
		&:before{
			content: '';
			display: block;
			width: 30%;
			height: auto;
			position: absolute;
			top: 0;
			left: 50%;
			bottom: 0;
			background-color: rgb(49, 53, 62);
		}
	}
}

.cols-footer{
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
	> li{
		display: inline-block;
		vertical-align: top;
		box-sizing: border-box;
		margin: 0;
		padding: 0 20px;
		&::before{
			display: none;
		}
		&:nth-child(1){
			width: 50%;
			padding-right: 140px;
		}
		&:nth-child(2){
			width: 30%;
			position: relative;
		}
		&:nth-child(3){
			width: 20%;
		}
	}
}

.wrapper-address, .wrapper-contact{
	width: 50%;
	box-sizing: border-box;
}
.wrapper-address{
	padding: 0 20px 0 0;
}

.logos{
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	> li{
		display: inline-block;
		vertical-align: middle;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 0;
		&::before{
			display: none;
		}
		&:nth-child(odd){
			margin-left: 0;
			margin-right: 15px;
		}
		&:nth-child(even){
			margin-left: 15px;
			margin-right: 0;
		}
	}
}

.rects-footer{
	display: block;
	width: 50%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	span{
		display: block;
		position: absolute;
		background-color: rgb(49, 53, 62);
		&:nth-child(1){
			width: 198px;
			height: 198px;
			transform: rotate(-9deg);
			top: 273px;
			left: 0;
		}
		&:nth-child(2){
			width: 109px;
			height: 109px;
			transform: rotate(-15deg);
			top: 203px;
			left: 258px;
		}
		&:nth-child(3){
			width: 55px;
			height: 55px;
			transform: rotate(-36deg);
			top: 60px;
			left: 436px;
		}
	}
}

.wrapper-menu-footer{
	width: 100%;
	height: 39px;
	background-color: $blanc;
	position: absolute;
	bottom: 25px;
	left: 0;
}
.menu-footer{
	display: block;
	list-style-type: none;
	box-sizing: border-box;
	margin: 0;
	padding: 11px 160px 0 0;
	line-height: 1.1em;
	> li{
		display: inline-block;
		vertical-align: top;
		margin: 0 0 0 37px;
		padding: 0;
		&::before{
			display: none;
		}
	}
	a{
		font-size: 0.75em;
		color: rgb(40, 44, 52);
		text-decoration: none;
	}
}
.social-footer{
	position: fixed;
	bottom: 25px;
	right: 0;
	transition: transform 0.4s ease-in-out;
	backface-visibility: hidden;
	&.closed{
		transform: translateX(75%);
	}
}
