/* Forms */

.form-half{
    display: inline-block;
    width: 50%;
    position: relative;
    vertical-align: top;
    margin: 25px 0 0;
    z-index: 1;
    background: #fff;
    .btn-arrow{
        position: absolute;
        bottom: 25px;
        right: 0;
        transform: translateX(35%);
    }
}

::-webkit-input-placeholder{
	font-family: $roboto-it;
    font-size: 0.88em;
    color: rgb(139, 139, 139);
}
::-moz-placeholder{
	font-family: $roboto-it;
    font-size: 0.88em;
    color: rgb(139, 139, 139);
}
::-ms-input-placeholder{
	font-family: $roboto-it;
    font-size: 0.88em;
    color: rgb(139, 139, 139);
}

fieldset{
	margin: 0 0 17px;
    &.inline-b{
        vertical-align: baseline;
    }
    &.block-pwd{
        margin: 35px 0 25px;
    }
    &.block-grey{
        padding: 25px;
        margin: 40px 0 35px;
        background: #f4f5f8;
        legend{
            width: 100%;
            /* float pour ff + safari qui sinon laisse le legend déborder au-dessus du fieldset */
            float: left;
            margin-right: 0;
        }
        /*.select{
            width: 275px;
        }*/
        .form-half &{
            .label-select{
                width: 36.99%;
            }
            .select{
                width: 59.91%;
            }
        }
    }
    &.block-right{
        margin: 10px 0 10px 175px;
        input[type=checkbox]{
            + label{
                margin-left: 12px;
            }
        }
        .form-half &{
            margin-left: 37.93%;
        }
    }
    &.block-sub-fields{
        margin-top: 45px;
        > div{
            padding: 15px 0 0 15px;
            border-left: 4px solid #ebebeb;
            margin: 10px 0 0 5px;
            label{
                width: 130px;
            }
            input{
                &[type=checkbox]{
                    + label{
                        width: auto;
                        margin-left: 70px;
                    }
                }
            }
        }
    }
}

legend, label{
    display: inline-block;
    width: 180px;
    margin: 0 15px 0 0;
    vertical-align: middle;
    font-size: 0.88em;
    line-height: 1.5;
    letter-spacing: -0.02em;
    .required &{
        font-family: $roboto-bold;
        &::after{
            content: '*';
            color: $theme-rouge-title;
        }
    }
    .error &{
        color: $theme-btn;
    }
}

legend{
    margin-bottom: 15px;
}

label{
    cursor: pointer;
}

.legend-next-fieldset{
    /* float pour ff + safari qui sinon laisse le legend déborder au-dessus du fieldset */
    float: left;
}

.label-select{
    font-family: $roboto-bold;
    .form-half &{
        width: 34.92%;
        margin-right: 3.1%;
    }
    &.small{
        .form-half &{
            width: 8.26%;
            margin: 0;
            text-align: center;
        }
    }
}

input, textarea, select{
    width: 100%;
}

input, textarea{
    transition: $transition;
  	&:-webkit-autofill{
      	box-shadow: 0 0 0 1000px rgb(255, 255, 255) inset;
  	}
}

input{
	&[type=text], &[type=email], &[type=tel], &[type=password], &[type=number]{
		@extend %input;

		vertical-align: middle;
	}
    &[type=text]{
        max-width: 250px;
        &.small{
            padding-top: 7px;
            padding-bottom: 7px;
        }
    }
    &[type=tel]{
        max-width: 150px;
    }
    &[type=email], &.big{
        max-width: 325px;
    }
    &[type=number]{
        max-width: 85px;
        &.price{
            max-width: 160px;
            + b{
                display: inline-block;
                margin: 0 0 0 8px;
            }
        }
    }
    &[type=password]{
        max-width: 140px;
    }
    &[type=radio], &[type=checkbox]{
        width: auto;
        vertical-align: middle;
        + label{
            width: auto;
            font-family: $roboto;
            &::after{
                display: none;
            }
            &:not(.has-margin){
                margin-right: 0;
            }
        }
    }
    &[type=radio]{
        +label{
            margin: 0 30px 0 10px;
        }
    }
    &[type=checkbox]{
        position: absolute;
        left: -99em;
        + label{
            position: relative;
            padding: 0 0 0 25px;
            &::before, &::after{
                content: '';
                position: absolute;
                bottom: 0;
                margin: auto;
            }
            &::before{
                @include size(15px, 16px);

                border: 1px solid #ebebeb;
                left: 0;
                top: -1px;
                background: #fff;
                outline: 1px solid #dadada;
            }
            &::after{
                @include font-icon;

                content: '\e907'; // icon-check
                display: block;
                height: 15px;
                top: 0;
                left: 2px;
                font-size: 11px;
                line-height: 15px;
                color: $bleu-link;
                opacity: 0;
                transform: scale(0);
                transition: $transition;
            }
        }
        &:checked{
            + label{
                &::after{
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
}

textarea{
    @extend %input;

    max-width: 370px;
    height: 125px;
    line-height: 1.5;
}

select{
    height: 42px;
    padding: 0 30px 0 12px;
    border: 1px solid #ebebeb;
    /* overflow pour empecher le dépassement de l'outline sur ff au focus */
    overflow: hidden;
    appearance: none;
    font-family: $roboto-it;
    font-size: 0.88em;
    background: #fff;
    outline: 1px solid #dadada;
    transition: border $transition, outline $transition;
    &::-ms-expand{
        display: none;
    }
    .lt-ie10 &{
        padding-right: 0;
    }
    &:focus{
        border-color: $bleu-link;
        outline: 1px solid $bleu-link;
        outline-offset: 0;
    }
    .error &{
        border-color: $theme-btn;
        outline: 1px solid $theme-btn;
    }
}
.select{
    display: inline-block;
    width: 300px;
    max-width: 100%;
    position: relative;
    &::after{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        border-color: #000 transparent transparent transparent;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 14px;
        pointer-events: none;
        .lt-ie10 &{
            display: none;
        }
    }
    &.small{
        width: 130px;
        .form-half &{
            width: 26.86%;
        }
    }
    .form-half &{
        width: 61.9%;
    }
}

button{
    transition: $transition;
    &[type=submit]{
        margin: 0 0 0 195px;
        .form-half &{
            margin-left: 37.93%;
        }
    }
    &:focus{
        outline: 0;
    }
    &.no-margin{
        margin-left: 0;
    }
}

/* Newsletter */

.form-newsletter{
    fieldset{
        margin: 10px 0;
    }
    input{
        &[type=text], &[type=email]{
            padding-top: 5px;
            padding-bottom: 6px;
            border-width: 2px;
            border-color: #c1c3c6;
            outline: 0;
            &:focus{
                border-color: $bleu-link;
            }
        }
    }
}

.wrapper-input-btn{
	position: relative;
	.wrapper-input{
		padding: 0 53px 0 0;
	}
}


/* Form error */

.p-error{
    font-family: $roboto-cd-bold;
    font-size: 1.2em;
}
.label-error{
    margin: 5px 0 10px 195px;
    font-size: 0.88em;
    clear: both;
    color: $theme-btn;
    .form-half &{
        margin-left: 37.93%;
    }
}


/* Map form */

.map-container{
    display: inline-block;
    width: 40%;
    position: relative;
    margin: 0 0 0 10%;
    .btn-metropole{
        position: relative;
        opacity: 0;
        z-index: 0;
        &.active{
            z-index: 2;
            opacity: 1;
        }
    }
    .no-js &{
        display: none;
    }
}
.map-form{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    .department, .country{
        stroke-linecap: round;
        stroke-linejoin: round;
    }
    .department{
        fill: #fff;
        stroke: $bleu-link;
        stroke-width: 0.05px;
        cursor: pointer;
        transition: $transition;
        &:hover{
            fill: $bleu-link;
        }
        &.active{
            fill: $theme-btn;
        }
        &.adjacent{
            fill: #ef8630;
            &:hover{
                fill: $bleu-link;
            }
        }
    }
    .country{
        fill: none;
        stroke: #93939a;
        stroke-width: 0.12px;
    }
    &-extra{
        top: 50px;
        font-size: 0.88em;
        transform: translateX(100%);
        opacity: 0;
        .department{
            stroke: #93939a;
            stroke-width: 0.12px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
        > div{
            display: inline-block;
            width: 50%;
            padding: 0 0 0 23%;
            position: relative;
            margin: 2.2em 0;
            &.small{
                width: 42%;
                padding: 0 0 0 17%;
                margin: 0 0 0 8%;
            }
            &.tiny{
                .department{
                    left: 6%;
                }
            }
        }
        b{
            font-family: $roboto-cd-bold;
        }
    }
    &-dom{
        > div{
            padding: 0 0 0 21%;
            &.small{
                width: 43%;
                margin: 0 0 0 7%;
                padding: 0 0 0 19%;
            }
        }
    }
}

.map-btn{
    max-width: 65px;
    position: absolute;
    top: 220px;
    left: 0;
    opacity: 0;
    z-index: 0;
    transition: $transition;
    a{
        display: inline-block;
        margin-bottom: 5px;
    }
    &.active{
        z-index: 2;
        opacity: 1;
    }
}
