/* Forms */

::-webkit-input-placeholder{
	font-family: $roboto-it;
    color: rgb(139, 139, 139);
}
::-moz-placeholder{
	font-family: $roboto-it;
    color: rgb(139, 139, 139);
}
:-ms-input-placeholder{
	font-family: $roboto-it;
    color: rgb(139, 139, 139);
}

fieldset{
	padding: 0;
	border: 0;
	margin: 10px 0;
}

input, textarea, select, button{
  	transition: $transition;
  	&:focus{
      	outline: 0;
  	}
}

input, textarea{
  	&:-webkit-autofill{
      	box-shadow: 0 0 0 1000px rgb(255, 255, 255) inset;
  	}
}

input{
	&[type=text], &[type=email], &[type=tel]{
		display: inline-block;
		padding: 7px 10px;
		border: 2px solid rgb(193, 195, 198);
		box-sizing: border-box;
		vertical-align: middle;
		@include roboto(0.875em);
		background: none;
		color: $blanc;
		line-height: normal;
	}
}

.wrapper-input-btn{
	position: relative;
	.wrapper-input{
		padding: 0 53px 0 0;
		box-sizing: border-box;
	}
}
