/* Grid */
.container{
    max-width: 1196px;
    padding: 0 20px;
    margin: 0 auto;
}

.container-full{
    max-width: 2000px;
    padding: 0;
    margin: 0 auto;
}

.container-small{
    max-width: 1090px;
    padding: 0 20px;
    margin: 0 auto;
}

.content-default{
    padding: 20px 60px 50px;
    border: 1px solid $gris;
    background: #fff;
    box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.05);
}

.content-right{
    padding-right: 130px;
}
