/* Grid */

#wrapper-page{
    position: relative;
    overflow: hidden;
    .sidebar-links-open &, .sidebar-account-open &, .nav-header-open &, .sidebar-tools-open &{
        max-height: 100vh;
    }
}

#main{
    padding: 0 0 100px;
}

.container{
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.container-full{
    max-width: 2000px;
    padding: 0;
    margin: 0 auto;
}

.container-small{
    @include clearfix;

    max-width: 1080px;
    padding: 0 20px;
    margin: 0 auto;
}

.container-xsmall{
  max-width: 940px;
  padding: 0 20px;
  margin: 0 auto;
}

.content-right{
    padding-right: 130px;
}

.content-default, .content-tabs{
    border: 1px solid $gris;
    box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.05);
}

.content-default{
    padding: 20px $gutter 50px;
    background: #fff;
    .content-footer{
        padding-left: $gutter;
        margin: 50px -1*$gutter -50px;
    }
}
