/* Header */
#header{
	height: 58px;
	nav{
		float: right;
	}
}

.zone-left-header{
	display: inline-block;
	vertical-align: top;
}
#logo{
  	display: inline-block;
 	vertical-align: middle;
  	width: 118px;
  	height: 58px;
  	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: 3;
  	box-sizing: border-box;
  	margin: 0;
  	padding: 0 0 0 16px;
  	background-color: rgb(192, 47, 60);
  	border: 0;
  	appearance: none;
  	text-align: left;
  	line-height: normal;
  	transform: translate 0.3s ease-in-out;
  	img{
  		vertical-align: middle;
  	}
  	span{
  		display: block;
  		position: absolute;
  		&:nth-child(1){
			@include size(13px);
			background-color: $blanc;
			transform: rotate(-22deg);
			top: 26px;
			right: 28px;
  		}
  		&:nth-child(2){
  			@include size(9px);
  			background-color: $blanc;
  			background-color: rgba(255, 255, 255, 0.8);
  			transform: rotate(20deg);
  			top: 23px;
  			right: 21px;
  			z-index: 2;
  		}
  		&:nth-child(3){
  			@include size(6px);
  			background-color: $blanc;
  			transform: rotate(-15deg);
  			top: 12px;
  			right: 18px;
  		}
  	}
  	.sidebar-links-open &{
		transform: translateX(12px);
  	}
}
.home-link{
	display: inline-block;
	vertical-align: middle;
	padding: 21px 0 0 138px;
	@include roboto-cd-bold(1em);
	text-transform: uppercase;
	text-decoration: none;
	color: rgb(198, 54, 67);
	&:after{
		@include font-icon;
		content: '\e905';
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
		padding: 0 0 0 3px;
		opacity: 0;
	}
	&:hover{
		&:after{
			opacity: 1;
		}
	}
}

.menu-header{
	display: inline-block;
	vertical-align: top;
	list-style-type: none;
	margin: 0;
	padding: 18px 0 0;
	> li{
		display: inline-block;
		vertical-align: top;
		margin: 0 50px 0 0;
		padding: 0;
		&::before{
			display: none;
		}
	}
	a{
		@include roboto-medium(1em);
		color: $txt;
		text-decoration: none;
	}
}
.nav-header{
	display: inline-block;
	vertical-align: top;
	list-style-type: none;
	margin: 0;
	padding: 0;
	> li{
		display: inline-block;
		vertical-align: top;
		width: 58px;
		height: 58px;
		margin: 0;
		padding: 0;
		&::before{
			display: none;
		}
		&:nth-child(1){
			a, button{
				background-color: rgb(241, 136, 50);
			}
		}
		&:nth-child(2){
			a, button{
				background-color: rgb(223, 84, 65);
			}
		}
		&:nth-child(3){
			a, button{
				background-color: rgb(198, 51, 62);
			}
		}
	}
	a, button{
		display: block;
		width: 100%;
		height: 100%;
		border: none;
		appearance: none;
		line-height: 58px;
		text-align: center;
		color: $blanc;
		text-decoration: none;
		&.icon-mail{
			font-size: 15px;
		}
		&.icon-tool{
			font-size: 21px;
		}
		&.icon-user{
			font-size: 17px;
		}
	}
}
