/* Responsive horizontal */
@media (max-width: 1300px){
    .menu-header{
        > li{
            margin: 0 30px 0 0;
        }
    }
}

@media (max-width: 1150px){
    #header{
        nav{
            float: none;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            display: inline-block;
            vertical-align: top;
            width: 283px;
            padding: 0;
            margin: 0;
            background-color: $blanc;
            filter: drop-shadow(0px 24px 35px rgba(0, 0, 0, 0.15));
            height: 100%;
            z-index: 4;
            transition: transform $transition;
            border-top: 58px solid rgb(192, 47, 60);
            .nav-header-open &{
                transform: translateX(0);
            }
            &:before{
                content: '';
                display: block;
                width: 8px;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background-color: rgb(234, 236, 241);
            }
        }
    }
    .menu-header{
        display: block;
        padding: 1px 0 0;
        > li{
            display: block;
            position: relative;
            margin: -1px 0 0;
            overflow: hidden;
            &:nth-child(10n+1){
                a{
                    &:before{
                        background-color: $theme-gradient-1;
                    }
                }
            }
            &:nth-child(10n+2){
                a{
                    &:before{
                        background-color: $theme-gradient-2;
                    }
                }
            }
            &:nth-child(10n+3){
                a{
                    &:before{
                        background-color: $theme-gradient-3;
                    }
                }
            }
            &:nth-child(10n+4){
                a{
                    &:before{
                        background-color: $theme-gradient-4;
                    }
                }
            }
            &:nth-child(10n+5){
                a{
                    &:before{
                        background-color: $theme-gradient-5;
                    }
                }
            }
            &:nth-child(10n+6){
                a{
                    &:before{
                        background-color: $theme-gradient-6;
                    }
                }
            }
            &:nth-child(10n+7){
                a{
                    &:before{
                        background-color: $theme-gradient-5;
                    }
                }
            }
            &:nth-child(10n+8){
                a{
                    &:before{
                        background-color: $theme-gradient-4;
                    }
                }
            }
            &:nth-child(10n+9){
                a{
                    &:before{
                        background-color: $theme-gradient-3;
                    }
                }
            }
            &:nth-child(10n+10){
                a{
                    &:before{
                        background-color: $theme-gradient-2;
                    }
                }
            }
        }
        a{
            display: block;
            @include roboto-medium(0.875em);
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            padding: 14px 28px;
            position: relative;
            z-index: 1;
            &:before{
                content: '';
                display: block;
                width: 100%;
                height: auto;
                position: absolute;
                top: -1px;
                bottom: 0;
                right: 0;
                z-index: -1;
                transform: translateX(276px);
                transition: transform 0.3s ease-in-out;
            }
            &:hover{
                color: $blanc;
                &:before{
                    transform: translateX(0);
                }
            }
        }
    }
    .nav-header{
        display: block;
        > li{
            display: block;
            width: 100%;
            height: auto;
        }
        a, button{
            text-align: left;
            padding: 14px 28px;
            height: auto;
            line-height: normal;
            .icon-mail, .icon-tool, .icon-user{
                display: none;
            }
            .txt-nav{
                text-indent: 0;
            }
        }
    }
    #burger{
        display: inline-block;
        .sidebar-links-open.nav-header-open &{
            span{
                &:before{
                    transform: translateX(10px);
                }
            }
        }
    }
    #logo{
        width: auto;
        img{
            display: inline-block;
            padding: 16px 50px 0 0;
        }
    }
    .home-link{
        padding-left: 194px;
    }

    .cols-footer{
        > li{
            &:nth-child(1){
                padding-right: 52px;
            }
        }
    }
}

@media (max-width: 1024px){
    h1{
        &.big{
            font-size: 3em;
        }
    }
}

@media (max-width: 979px){
    $gutter: 45px;

    h1, h2, h3, h4, h5, h6{
        &.padding-grid{
            padding: 0;
        }
    }
    h1{
        padding: 0 $gutter;
    }
    h2{
        &.inline-b{
            padding-right: 10px;
        }
    }

    .content-default{
        padding-left: $gutter;
        padding-right: $gutter;
        .content-footer{
            padding-left: $gutter;
            padding-right: $gutter;
            margin-left: -1*$gutter;
            margin-right: -1*$gutter;
        }
    }

    .content-footer{
        .social-right{
            float: none;
            p{
                padding-top: 7px;
                padding-bottom: 10px;
            }
            li{
                @include size(39px);
            }
            a{
                line-height: 39px;
            }
        }
        .social{
            float: none;
            margin-bottom: 20px;
        }
        .has-social &{
            p{
                max-width: none;
            }
        }
    }

    .btn-block-arrow{
        font-size: 1em;
    }

    .content-right{
        padding-right: $gutter;
    }

    .nav-tabs{
        font-size: 0.62em;
        li{
            padding: 15px 15px 12px;
        }
        &-indicator{
            li{
                &:not(:first-child){
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }

    .tab-content{
        padding-left: $gutter;
        padding-right: $gutter;
        .block-grey{
            padding-left: $gutter;
            margin-left: -1*$gutter;
        }
        .content-footer{
            padding-left: $gutter;
            padding-right: $gutter;
            margin-left: -1*$gutter;
            margin-right: -1*$gutter;
        }
        &-title{
            &.has-btn{
                width: 50%;
            }
        }
    }

    .form-half{
        margin-top: 0;
        .select.small{
            width: 61.9%;
        }
        .label-select.small{
            width: 34.92%;
            margin: 10px 3.1% 0 0;
            text-align: right;
            + .select{
                margin-top: 10px;
            }
        }
        .btn-arrow{
            display: inline-block;
            position: static;
            margin: 10px 0 0 37.93%;
            transform: none;
        }
    }

    .map-container{
        width: 43%;
        margin: 0 0 0 5%;
    }
    .map-form-extra{
        .department{
            position: static;
        }
        > div{
            padding: 0;
            margin: 1em 0;
            text-align: center;
            &.small{
                padding: 0 0 0 5%;
            }
        }
        b{
            display: block;
            margin: 10px 0 0;
        }
    }
    .map-form-dom{
        > div{
            &.small{
                padding: 0 0 0 5%;
            }
        }
    }
    .map-btn{
        top: 175px;
    }

    .bloc-top{
        height: 440px;
        h1{
            padding: 110px 0 0;
        }
        p{
            font-size: 1.1em;
            padding: 0 6px;
        }
    }

    .news{
        display: block;
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        > li{
            display: block;
            width: 100%;
            margin: 20px 0;
        }
    }

    #footer{
        &:before{
            width: 100%;
        }
        .container{
            padding: 45px 0 0;
            &:before{
                display: none;
            }
        }
    }
    .cols-footer{
        > li{
            display: block;
            width: 100%;
            &:nth-child(1){
                padding: 0 26px 26px;
            }
        }
    }
    .cols-right-footer{
        display: table;
        table-layout: fixed;
        width: 100%;
        background-color: rgb(57, 61, 71);
        padding: 0 0 130px 0;
        > li{
            display: table-cell;
            vertical-align: top;
            padding: 26px;
            &:nth-child(1){
                background-color: rgb(49, 53, 62);
            }
            &:nth-child(2){
                width: 230px;
            }
        }
    }

    .wrapper-menu-footer{
        background: none;
    }
    .social-footer{
        position: relative;
        bottom: inherit;
        right: inherit;
        &.closed{
            transform: translateX(0);
        }
    }
    .menu-footer{
        background-color: $blanc;
        padding: 10px 0;
        text-align: center;
        > li{
            margin: 4px 16px;
        }
    }

    /*.choices{
        &.three-choices{
            height: auto;
            > li{
                position: relative;
                &:nth-child(2), &:nth-child(3){
                    left: 0;
                }
            }
        }
    }*/

    .alerts{
        &-block{
            time{
                &:after{
                    content: '';
                    display: inline-block;
                    width: 3px;
                    height: 3px;
                    vertical-align: middle;
                    margin: 0 15px;
                    border-radius: 50%;
                    background: #c6333e;
                }
            }
            .title-grey{
                &:after, &:before{
                    display: none;
                }
                .notif{
                    right: -18px;
                }
            }
        }
        &-list{
            li{
                padding-right: 170px;
            }
        }
        &-place{
            display: block;
            margin: 5px 0 0 102px;
            white-space: initial;
        }
    }

    .pub{
        width: 300px;
        height: 250px;
    }
}

@media (max-width: 767px){
    $gutter: 30px;

    h1{
        padding: 0 $gutter;
        &.big{
            font-size: 2.8em;
        }
    }

    .content-default{
        padding-left: $gutter;
        padding-right: $gutter;
        .content-footer{
            padding-left: $gutter;
            padding-right: $gutter;
            margin-left: -1*$gutter;
            margin-right: -1*$gutter;
        }
    }

    .breadcrumb{
        padding-left: $gutter;
        padding-right: $gutter;
    }

    .tab-content{
        padding-left: $gutter;
        padding-right: $gutter;
        &-title{
            .h1{
                width: 100%;
                max-width: none;
            }
            &.has-btn{
                width: 100%;
                .h1{
                    width: auto;
                }
                + .btn-block{
                    float: none;
                    margin: -30px 0 50px;
                }
            }
        }
        &-buttons{
            .btn-block-arrow{
                display: block;
                width: 80%;
                margin: 0 auto;
                &:first-of-type{
                    margin-right: auto;
                    margin-bottom: 20px;
                }
            }
        }
        .block-grey{
            padding-left: $gutter;
            margin-left: -1*$gutter;
        }
        .content-footer{
            padding-left: $gutter;
            padding-right: $gutter;
            margin-left: -1*$gutter;
            margin-right: -1*$gutter;
        }
    }

    fieldset{
        &.block-sub-fields{
            > div{
                input{
                    &[type=checkbox]{
                        + label{
                            margin-left: 0;
                        }
                    }
                }
                .form-disabled &{
                    display: block;
                    margin: 0;
                }
            }
            legend{
                float: none;
                margin-left: 0;
            }
        }
        &.block-right{
            margin-left: 0;
        }
    }

    label, legend{
        display: block;
        margin-bottom: 10px;
    }

    .legend-next-fieldset{
        float: none;
    }

    input{
        &[type=radio], &[type=checkbox]{
            + label{
                display: inline-block;
            }
        }
    }

    button{
        &[type=submit]{
            margin-left: 0;
        }
    }

    .form-half{
        width: 100%;
        fieldset{
            &.block-right{
                margin-left: 0;
            }
            &.block-grey{
                .label-select{
                    width: auto;
                }
                .select{
                    width: 300px;
                }
            }
        }
        .label-select{
            width: 180px;
            margin-right: 0;
            &.small{
                width: auto;
                margin-right: 0;
                text-align: left;
            }
        }
        .select{
            width: 300px;
            &.small{
                width: 130px;
            }
        }
        button{
            &[type=submit]{
                margin-left: 0;
                margin-right: 20px;
            }
        }
        .btn-arrow{
            margin-left: 0;
        }
    }

    .form-disabled{
        label{
            margin-bottom: 0;
        }
        input{
            &[disabled]{
                padding: 0;
                &[type=radio]{
                    +label{
                        margin-left: 0;
                    }
                }
            }
        }
        fieldset{
            margin-bottom: 17px;
            .block-right{
                &:not(.block-sub-fields){
                    input[type=checkbox]{
                        + label{
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    .not-filled{
        margin: -18px 0 0;
    }

    .map-container{
        display: none;
    }

    .bloc-top{
        height: 380px;
        h1{
            padding: 80px 0 0;
        }
        p{
            font-size: 1em;
            padding: 0 4px;
        }
    }

    .cols-right-footer{
        display: block;
        > li{
            display: block;
            width: 100%;
            padding: 26px;
            &:nth-child(1){
                width: 100%;
            }
            &:nth-child(2){
                width: 280px;
            }
        }
    }

    .alerts{
        &-block{
            time{
                display: block;
                margin: 0 0 5px;
                &:after{
                    display: none;
                }
            }
            .title-grey{
                text-indent: 18px;
                .notif{
                    right: auto;
                    left: 0;
                    text-indent: 0;
                }
            }
            &-btn{
                right: 0;
                top: 22px;
            }
        }
        &-header{
            margin: 0 70px 0 0;
        }
        &-list{
            li{
                padding-right: 25px;
            }
            .title-simple{
                display: block;
                margin-right: 0;
            }
        }
        &-place{
            margin-left: 0;
        }
        &-price{
            position: static;
        }
    }
}

@media (max-width: 650px){
    .nav-tabs{
        /*&:not(.nav-tabs-indicator){
            display: none;
        }*/
        &-indicator{
            font-size: 0.75em;
            span{
                display: none;
            }
            li{
                padding: 9px 9px 6px;
            }
        }
    }
}

@media (max-width: 600px){
    .alerts{
        &-block{
            &-btn{
                position: static;
                margin: 15px 0 0;
                text-align: right;
            }
        }
        &-header{
            margin: 0;
        }
        &-list{
            li{
                padding-left: 25px;
            }
        }
        &-img{
            display: block;
            position: relative;
            left: 0;
            margin: 0 0 10px;
        }
    }
}

@media (max-width: 480px){
    h1{
        &.big{
            font-size: 2.4em;
        }
    }

    .tab-content-buttons{
        .btn-block-arrow{
            width: 100%;
        }
    }

    .form-half{
        fieldset{
            &.block-grey{
                .select{
                    width: 100%;
                }
            }
        }
    }
    .select{
        width: 100%;
        .form-half &{
            width: 100%;
        }
    }
    .p-error{
        padding-left: 60px;
        padding-right: 20px;
        &:before{
            height: 30px;
            font-size: 30px;
            top: 17px;
            bottom: auto;
        }
    }

    .bloc-top{
        height: 320px;
        h1{
            padding: 40px 0 0;
        }
        p{
            font-size: 0.9em;
            padding: 0 4px;
        }
    }

    .home-link{
        display: none;
    }

    .wrapper-alignment.wrapper-address-contact{
        display: block;
    }
    .content-align-middle.wrapper-address, .content-align-middle.wrapper-contact{
        display: block;
        width: 100%;
    }
    .content-align-middle.wrapper-contact{
        text-align: left;
        margin-top: 10px;
    }

    .menu-footer{
        > li{
            margin: 4px 10px;
        }
    }

    .sidebar, #header nav{
        width: 100%;
    }
    #sidebar-links{
        ul{
            a{
                &:before{
                    transform: translateX(calc(100% - 8px));
                }
            }
        }
    }
    .menu-header a{
        &:before{
            transform: translateX(calc(100% - 8px));
        }
    }
    #btn-close-sidebar-links{
        display: none;
    }
    #btn-close-header-responsive{
        display: block;
    }
}

/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi) {

}


/* Print styles */

@media print {
    *{
        color: #000 !important;
    }
    a{
        text-decoration: underline;
        &[href]:after{
            content: ' (' attr(href) ')';
        }
        &[href^="#"]:after{
            content: '';
        }
    }
    img{
        max-width: 100% !important;
        page-break-inside: avoid;
    }
    @page{
        margin: .5cm;
    }
    p, h2, h3{
        orphans: 3;
        widows: 3;
    }
    h2, h3{
        page-break-after: avoid;
    }
}
