/* Sidebar */
.sidebar{
	display: inline-block;
	vertical-align: top;
	width: 283px;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
	background-color: $blanc;
	filter: drop-shadow(0px 24px 35px rgba(0, 0, 0, 0.15));
	transition: transform 0.3s ease-in-out;
	&::before{
		content: '';
		display: block;
		width: 8px;
		height: 100%;
		position: absolute;
		top: 0;
		background-color: rgb(234, 236, 241);
	}
	.btn-close{
		position: absolute;
		top: 0;
		z-index: 2;
	}
	.title-sidebar{
		height: 58px;
		background-color: rgb(194, 50, 63);
		color: $blanc;
		padding: 16px 30px 0 30px;
		@include roboto-cd(1.375em);
	}
	.content-sidebar{
		padding: 0 30px;
	}
}

#sidebar-links{
	left: 0;
	transform: translateX(-100%);
	transform: translateX(calc(-100% - 58px));
	.sidebar-links-open &{
		transform: translateX(0%);
	}
	&::before{
		right: 0;
	}
	ul{
		display: block;
		margin: 0;
		padding: 1px 0 0 0;
		> li{
			display: block;
			margin: -1px 0 0 0;
			padding: 0;
			position: relative;
			overflow: hidden;
			&::before{
				display: none;
			}
			&:nth-child(10n+1){
				a{
					&::before{
						background-color: $theme-gradient-1;
					}
				}
			}
			&:nth-child(10n+2){
				a{
					&::before{
						background-color: $theme-gradient-2;
					}
				}
			}
			&:nth-child(10n+3){
				a{
					&::before{
						background-color: $theme-gradient-3;
					}
				}
			}
			&:nth-child(10n+4){
				a{
					&::before{
						background-color: $theme-gradient-4;
					}
				}
			}
			&:nth-child(10n+5){
				a{
					&::before{
						background-color: $theme-gradient-5;
					}
				}
			}
			&:nth-child(10n+6){
				a{
					&::before{
						background-color: $theme-gradient-6;
					}
				}
			}
			&:nth-child(10n+7){
				a{
					&::before{
						background-color: $theme-gradient-5;
					}
				}
			}
			&:nth-child(10n+8){
				a{
					&::before{
						background-color: $theme-gradient-4;
					}
				}
			}
			&:nth-child(10n+9){
				a{
					&::before{
						background-color: $theme-gradient-3;
					}
				}
			}
			&:nth-child(10n+10){
				a{
					&::before{
						background-color: $theme-gradient-2;
					}
				}
			}
		}
		a{
			display: block;
			position: relative;
			text-decoration: none;
			color: $txt;
			@include roboto-medium(0.875em);
			border-top: 1px solid rgb(229, 229, 229);
			border-bottom: 1px solid rgb(229, 229, 229);
			padding: 14px 28px;
			z-index: 1;
			&::before{
				content: '';
				display: block;
				width: 100%;
				height: auto;
				position: absolute;
				top: -1px;
				bottom: 0;
				right: 0;
				z-index: -1;
				transform: translateX(276px);
				transition: transform 0.3s ease-in-out;
			}
			&:hover{
				&::before{
					transform: translateX(0);
				}
				color: $blanc;
			}
		}
	}
	p{
		display: block;
		position: relative;
		background-color: rgb(192, 47, 60);
		color: $blanc;
		margin: 0;
		padding: 60px 28px 28px 28px;
		&::before{
			content: '';
			display: block;
			width: 8px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			background-color: rgb(174, 47, 58);
		}
	}
	.btn-close{
		right: -50px;
	}
}

#sidebar-account{
	right: 0;
	transform: translateX(100%);
	transform: translateX(calc(100% + 58px));
	.sidebar-account-open &{
		transform: translateX(0%);
	}
	&.auth-off{
		background-color: rgb(234, 236, 241);
	}
	&::before{
		left: 0;
	}
	.btn-close{
		left: -50px;
	}
	.wrapper-login{
		background-color: $blanc;
		padding: 30px 34px 55px 30px;
	}
}