/* Sidebar */
.sidebar{
	display: inline-block;
	vertical-align: top;
	width: 283px;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 3;
	background-color: $blanc;
	filter: drop-shadow(0px 24px 35px rgba(0, 0, 0, 0.15));
	transition: transform 0.3s ease-in-out;
	.wrapper-content-sidebar{
		height: 100%;
		max-height: 100%;
		overflow: auto;
	}
	&:before{
		content: '';
		display: block;
		width: 8px;
		height: 100%;
		position: absolute;
		top: 0;
		background-color: rgb(234, 236, 241);
	}
	.btn-close{
		position: absolute;
		top: 0;
		z-index: 2;
	}
	.title-sidebar{
		height: 58px;
		background-color: rgb(194, 50, 63);
		color: $blanc;
		padding: 16px 30px 0 30px;
		@include roboto-cd(1.375em);
	}
	.content-sidebar{
		padding: 0 30px;
	}
	.menu-sidebar{
		display: block;
		margin: 0;
		padding: 1px 0 0 0;
		> li{
			display: block;
			margin: -1px 0 0 0;
			padding: 0;
			position: relative;
			overflow: hidden;
			&:before{
				display: none;
			}
			&:nth-child(10n+1){
				a{
					&:before, .notif{
						background-color: $theme-gradient-1;
					}
					&:hover{
						.notif{
							background-color: $blanc;
							color: $theme-gradient-1;
						}
					}
				}
			}
			&:nth-child(10n+2){
				a{
					&:before, .notif{
						background-color: $theme-gradient-2;
					}
					&:hover{
						.notif{
							background-color: $blanc;
							color: $theme-gradient-2;
						}
					}
				}
			}
			&:nth-child(10n+3){
				a{
					&:before, .notif{
						background-color: $theme-gradient-3;
					}
					&:hover{
						.notif{
							background-color: $blanc;
							color: $theme-gradient-3;
						}
					}
				}
			}
			&:nth-child(10n+4){
				a{
					&:before, .notif{
						background-color: $theme-gradient-4;
					}
					&:hover{
						.notif{
							background-color: $blanc;
							color: $theme-gradient-4;
						}
					}
				}
			}
			&:nth-child(10n+5){
				a{
					&:before, .notif{
						background-color: $theme-gradient-5;
					}
					&:hover{
						.notif{
							background-color: $blanc;
							color: $theme-gradient-5;
						}
					}
				}
			}
			&:nth-child(10n+6){
				a{
					&:before, .notif{
						background-color: $theme-gradient-6;
					}
					&:hover{
						.notif{
							background-color: $blanc;
							color: $theme-gradient-6;
						}
					}
				}
			}
			&:nth-child(10n+7){
				a{
					&:before, .notif{
						background-color: $theme-gradient-5;
					}
					&:hover{
						.notif{
							background-color: $blanc;
							color: $theme-gradient-5;
						}
					}
				}
			}
			&:nth-child(10n+8){
				a{
					&:before, .notif{
						background-color: $theme-gradient-4;
					}
					&:hover{
						.notif{
							background-color: $blanc;
							color: $theme-gradient-4;
						}
					}
				}
			}
			&:nth-child(10n+9){
				a{
					&:before, .notif{
						background-color: $theme-gradient-3;
					}
					&:hover{
						.notif{
							background-color: $blanc;
							color: $theme-gradient-3;
						}
					}
				}
			}
			&:nth-child(10n+10){
				a{
					&:before, .notif{
						background-color: $theme-gradient-2;
					}
					&:hover{
						.notif{
							background-color: $blanc;
							color: $theme-gradient-2;
						}
					}
				}
			}
		}
		a{
			display: block;
			position: relative;
			text-decoration: none;
			color: $txt;
			@include roboto-medium(0.875em);
			border-top: 1px solid rgb(229, 229, 229);
			border-bottom: 1px solid rgb(229, 229, 229);
			padding: 14px 28px;
			z-index: 1;
			.notif{
				display: inline-block; 
				vertical-align: middle;
				transform: translateY(-.1em);
				position: relative;
				font-size: 1.4rem;
				padding: 3px 6px;
				margin: 0 0 0 2px;
				line-height: 1;
				transition: all 0.3s ease-in-out;
			}
			&:before{
				content: '';
				display: block;
				width: 100%;
				height: auto;
				position: absolute;
				top: -1px;
				bottom: 0;
				right: 0;
				z-index: -1;
				transform: translateX(276px);
				transition: transform 0.3s ease-in-out;
			}
			&:hover{
				&:before{
					transform: translateX(0);
				}
				color: $blanc;
			}
		}
	}
	&#sidebar-tools, &#sidebar-account{
		.menu-sidebar{
			a{
				&:before{
					right: auto;
					left: 0;
					transform: translateX(-276px);
				}
				&:hover{
					&:before{
						transform: translateX(0);
					}
				}
			}
		}
	}
	&#sidebar-tools{
		.title-sidebar{
			background-color: rgb(217, 77, 62);
		}
		.btn-close{
			background-color: rgb(198, 69, 53);
		}
	}
}

#sidebar-links{
	left: 0;
	transform: translateX(-120%);
	transform: translateX(calc(-100% - 58px));
	.sidebar-links-open &{
		transform: translateX(0%);
	}
	&:before{
		right: 0;
	}
	.content-sidebar-links{
		height: 100%;
		background-color: $blanc;
	}
	&.no-transition{
	    transition: none;
	}
	p{
		display: block;
		position: relative;
		background-color: rgb(192, 47, 60);
		color: $blanc;
		margin: 0;
		padding: 70px 28px 28px 28px;
		&:before{
			content: '';
			display: block;
			width: 8px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			background-color: rgb(174, 47, 58);
		}
	}
	.btn-close{
		right: -50px;
	}
}

#sidebar-tools{
	right: 0;
	transform: translateX(120%);
	transform: translateX(calc(100% + 58px));
	.sidebar-tools-open &{
		transform: translateX(0%);
	}
	&:before{
		left: 0;
	}
	.btn-close{
		left: -50px;
	}
	&.no-transition{
	    transition: none;
	}
}

#sidebar-account{
	right: 0;
	transform: translateX(120%);
	transform: translateX(calc(100% + 58px));
	.sidebar-account-open &{
		transform: translateX(0%);
	}
	&.auth-off{
		background-color: rgb(234, 236, 241);
	}
	&.no-transition{
	    transition: none;
	}
	&:before{
		left: 0;
	}
	.btn-close{
		left: -50px;
	}
	.wrapper-login{
		background-color: $blanc;
		padding: 30px 34px 55px 30px;
	}
	.wrapper-name{
		padding: 30px 34px 30px 30px;
		@include roboto-cd(0.875em);
	}
	.name{
		@include roboto-cd-bold(1.625em);
		margin: 2px 0 0 0;
		color: rgb(196, 52, 65);
	}
	.wrapper-deconnexion{
		padding: 18px 20px;
		text-align: right;
	}
}

.bg-sidebar{
	&.no-transition{
	    transition: none;
	}
}
