.nav-tabs{
    padding: 0;
    border-bottom: 4px solid $theme-btn;
    margin: 0;
    font-family: $roboto-bold;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    .content-tabs-sale &{
        border-color: #ef6a2b;
    }
    .content-tabs-partner &{
        border-color: #d63e37;
    }
    &.nav-tabs-white{
        border: 1px #dadada solid;
    }
    &.no-border{
        border: 0;
    }
    li{
        display: inline-block;
        border-right: 1px solid $gris;
        position: relative;
        vertical-align: top;
        margin: 0;
        background: #fff;
        &:before{
            display: none;
        }
        &.active{
            background: $theme-btn;
            color: #fff;
            .content-tabs-sale &{
                background: #ef6a2b;
            }
            .content-tabs-partner &{
                background: #d63e37;
            }
        }
        // &.tab-right{
        //     border-right: 0;
        //     border-left: 1px solid $gris;
        //     float: right;
        // }
        &.tab-orange{
            .notif{
                background: #f18832;
            }
            a{
                &:hover, &:focus{
                    color: #f18832;
                }
            }
        }
    }
    a{
        color: inherit;
        text-decoration: none;
        &:hover, &:focus{
            color: $theme-btn;
            .content-tabs-sale &{
                color: #ef6a2b;
            }
            .content-tabs-partner &{
                color: #d63e37;
            }
        }
    }
    &-indicator{
        li{
            padding: 25px 25px 21px;
            &:not(:first-child){
                &:after{
                    content: '';
                    width: 11px;
                    height: 10px;
                    position: absolute;
                    top: 3px;
                    bottom: 0;
                    left: -1px;
                    margin: auto;
                    background: url(../layoutImg/arrows-tab.png) no-repeat;
                    .content-tabs-sale &{
                        background-image: url(../layoutImg/arrows-tab2.png);
                    }
                }
            }
            &.active{
                + li{
                    &:after{
                        background-position: -11px 0;
                    }
                }
            }
        }
    }
    &:not(.nav-tabs-indicator){
        a{
            display: block;
            padding: 25px 25px 21px;
            color: inherit;
            text-decoration: none;
            &:hover, &:focus{
                color: $theme-btn;
            }
        }
        span:not(.notif){
            display: block;
            padding: 25px 25px 21px;
        }
        &.no-border{
            a, span:not(.notif){
                padding-bottom: 25px;
            }
            .btn-home{
                height: 68px;
            }
        }
    }
}



.content-tabs-sale{
    .btn-block{
        &:before, &:after{
            content: none;
        }
    }
    .tab-content{
        padding: 20px 320px 50px 60px;
        ul{
            line-height: 1em;
            padding-left: 160px;
            margin-top: 1.8em;
            
            li{
                &:before{
                    background: #d23a33;
                    height: 5px;
                    width: 5px;
                }
            }
        }
    }
}
.big-price{
    display: block;
    background: #f5f5f6;
    border: 1px solid #d7d7d7;
    padding: 11px 10px;
    width: auto;
    height: 100%;
    font-family: $roboto-cd;
    font-size: 2.5em;
    line-height: 1em;
    span{
        display: inline-block;
        vertical-align: top;
        line-height: 1em;
    }
    sup{
        display: inline-block;
        vertical-align: top;
        font-family: $roboto-cd-bold;
        font-size: 0.7em;
        line-height: 1em;
        margin: 0 0 0 2px;
    }
}
.wrapper-depot-annonce{
    padding: 0 70px 0 0;
    ul{
        margin: 0;
        li{
            margin: 0;
        }
    }
}
.wrapper-alignment.wrapper-price-argu{
    table-layout: auto;
    margin: 0 0 20px 0;
    .content-align-middle.content-price{
        white-space: nowrap;
        padding: 0 28px 0 0;
    }
}
.wrapper-pub-pack{
    width: 208px;
    position: relative;
}
.pub-pack{
    display: block;
    background: url('../layoutImg/pack-annonces.jpg') no-repeat 0 100%;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    padding: 30px 10px;
    color: $txt;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid $gris;
    transition: $transition;
    .small-txt{
        display: block;
        font-family: $roboto-cd;
        font-size: 0.875em;
        margin: 0 0 4px 0;
    }
    .big-txt{
        display: block;
        font-family: $roboto-cd;
        font-size: 2.125em;
        line-height: 0.9em;
        color: rgb(227, 77, 26);
        transition: color 0.3s ease-in-out;
        .icon-arrow{
            display: inline-block;
            font-size: 9px;
            vertical-align: middle;
            position:relative;
            top:-.1em;
            margin: 0 0 0 6px;
            transform: translateX(0);
            transition: transform 0.3s ease-in-out;
        }
    }
    &:focus, &:hover{
        color: mix(white, $bleu-link, 30%);
        .big-txt{
            color: mix(white, $bleu-link, 30%);
            .icon-arrow{
                transform: translateX(10px);
            }
        }
    }
}
.tab-content{
    padding: 20px $gutter 50px;
    overflow: hidden;
    background: #fff;
    &-title{
        padding: 30px 0 10px;
        border-bottom: 1px solid;
        margin: 0 0 2.5em;
        .h1{
            display: inline-block;
            padding: 0;
            max-width: 80%;
            position: relative;
            //vertical-align: top;
            margin: 0 2.6% 0 0;
            .notif{
                right: -15px;
            }
        }
        a, button{
            display: inline-block;
            margin: 1.5em 0 0;
        }
        .right{
            float: right;
            font-size: 0.88em;
            span{
                display: inline-block;
                margin: 0 10px 0 0;
            }
        }
        &.has-btn{
            display: inline-block;
            width: 66%;
            + .btn-block{
                float: right;
                margin: 36px 0 0;
            }
        }
    }
    &-buttons{
        margin: 5em 0 5.3em;
        .btn-block-arrow{
            &:first-of-type{
                margin-right: 4%;
            }
        }
    }
    .block-grey{
        padding-left: $gutter;
        margin-left: -1*$gutter;
    }
    .content-footer{
        padding-left: $gutter;
        margin: 50px -1*$gutter -50px;
    }
    &-footer{
        padding: 15px 0 0;
        border-top: 1px solid;
        margin: 100px 0 0;
        text-align: right;
        label{
            width: auto;
        }
        .select{
            vertical-align: middle;
            margin: 0 10px 0 0;
        }
        button{
            &[type=submit]{
                padding: 16px 17px;
                margin-left: 0;
            }
        }
    }
}

.content-tabs-sale{
    .field-content{
        padding: 50px 70px 90px 70px;
        .tab-content-title{
            padding-top: 0;
            margin: 0 0 35px;
            font-family: $roboto-cd-bold;
            font-size: 2.5em;
            line-height: 1em;
        }
        .btn-block{
            background: #ef6a2b;
        }
    }
}
.form-contact{
    padding-top: $gutter;
}

/* tab buy home */
.wrapper-choices{
    .field-content{
        .tab-content-title{
            padding-top: 0;
            margin: 0 0 35px;
            font-family: $roboto-cd-bold;
            font-size: 2.5em;
            line-height: 1em;
            &.searchform{
                .form-half{
                    margin-top: 0;
                }
            }
        }
    }
}

/* achat crédits recap */

.content-sale-paiement{
    .no-padding{
        padding: 0;
        .h1{
            margin-bottom: 10px;
        }
    }

}

.detail-paiement{
    li{
        &:before{
            display: none;
        }
    }
    // lignes
    > li{
        display: block;
        margin-bottom: 23px;
        &:nth-child(3){
            margin-bottom: 60px;
        }
        ul{
            display: block;
            margin-bottom: 1.4em;
            // colonnes
            > li{
                display: inline-block;
                vertical-align: top;
                width: 50%;
                margin-bottom: 0;
                &:first-child{
                    text-align: right;
                    padding-right: 27px;
                }
                &:last-child{
                    padding-left: 27px;
                }
            }
        }
    }
}

.table-offres-tarifs{
    table-layout: fixed;
    width: 100%;
    width: calc(100% + 30px);
    margin: 0 0 0 -15px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 15px;
    tr{ // 1ere ligne
        td{
            border: 1px solid red;
            &.no-border{
                border: 0;
            }
            &.super-border{
                border: 6px #000 solid;
            }
            &.dark-red{
                border-color: #c63643;
                color: #c63643;
            }
            &.red{
                border-color: #d43c34;
                color: #d43c34;
            }
            &.orange{
                border-color: #e96740;
                color: #e96740;
            }
            &.orange-light{
                border-color: #f28e3c;
                color: #f28e3c;
            }
            .undercover{
                text-transform: uppercase;
                font-family: $roboto-cd-bold;
                border-top: 2px solid;
                border-bottom: 2px solid;
                padding: 0 20px;
            }
            p{
                margin: 0;
                color: inherit;
                &.h1{
                    margin-bottom: 20px;
                }
            }
            .mega-huge, .super-huge{
                line-height: 0.9;
            }
        }

        &:nth-child(1){ // vise la première ligne seulement
            td{ 
                &:nth-child(1){// puis la 1ère colone
                width: 40%;
            }
                &:nth-child(2){// seconde
                    padding: 5px 0 30px 0;
                }
            }
        }
    }
}