/* Bloc top */
.bloc-top{
	position: relative;
	height: 240px;
	text-align: center;
	.home &{
		height: 505px;
	}
	strong{
		display: block;
		margin: 0 0 8px 0;
		padding: 130px 0 0;
		color: $blanc;
		@include roboto-cd-bold(4.063em);
		text-align: center;
	}
	h1{
		display: inline-block;
		vertical-align: top;
		margin: 4px 0 0;
		padding: 0 8px;
		font-family: $roboto-cd-bold;
		font-size: 1.25em;
		color: $theme-rouge-txt;
		background: $blanc;
		background: rgba($blanc, 0.8);
	}
	.wrapper-img{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	img{
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
