/* Buttons */

.btn-no-text, .btn-home{
	white-space: nowrap;
	overflow: hidden;
	text-indent: 99em;
	line-height: 0;
	&:after{
		float: left;
		margin: 0;
		text-indent: 0;
	}
}

.btn-home{
	width: 68px;
	height: 64px;
	&:after{
		@include font-icon;

		content: '\e911';
		font-size: 18px;
	}
}
.btn-info{
    &:after{
    	content: "?";
    	display: inline-block;
    	vertical-align: top;
        height: 15px;
        width: 15px;
        border: 2px #c52d38 solid;
        font-family: $roboto;
        font-size: 0.7em;
        padding: 0px 2px;
        margin-left: 10px;
        color: #c52d38;
    }
}

.btn-photo {
	text-transform: uppercase;
	font-size: 0.8em;
	font-family: $roboto-cd-bold;
	letter-spacing: 1px;
	&:before{
		font-size: 1.15em;
		vertical-align: top;
		margin-right: 5px;
		content: '\e90c';
		@include font-icon;
	}
}
.btn-arrow{
	@extend %btn-arrow-base;
	@extend %btn-arrow;

	&.btn-no-text{
		width: 15px;
		height: 11px;
	}

	&.plain {
		color:$blanc;
		background: $theme-gradient-1;
		display:inline-block;
		padding: 0.5em 1.8em 0.5em 1em;
		margin:1em 0;
		font-size:0.9em;
		&:after{
			right: 1.6em;
		}
	}
}

.btn-arrow-back{
	@extend %btn-arrow-base;
	@extend %btn-arrow-back;
}

.btn-print {
	@extend %btn-arrow-base;
	&:before{
		@extend %btn-before;
		content: '\e913'; // printer
	}
}

.btn-heart {
	@extend %btn-arrow-base;
	&:before{
		@extend %btn-before;
		content: '\e912'; // heart
	}
}

.btn-pen{
	@extend %btn-arrow-base;
	&:after{
		@extend %btn-after;
		content: '\e905';
	}
	&:hover, &:focus{
		&:after, &:before{
			transform: translate3d(0, 0, 0) rotate(-90deg);
		}
	}
	&.btn-no-text{
		width: 17px;
	}
	&.left-icon {
		&:after{
			display:none;
		}
		&:before{
			@extend %btn-before;
			content: '\e905';
		}
	}
}

.btn-pen-orange{
	color: $orange-btn;
	&:hover {
		color: $orange-btn;
	}
}
.btn-cancel{
	@extend %btn-arrow-base;

	&:before{
		@extend %btn-before;

		content: '\e906'; // cross
	}
	&:hover, &:focus{
		&:before{
			transform: translate3d(0, 0, 0) rotate(90deg);
		}
	}
}

.btn-alert{
	@extend %btn-arrow-base;
	&:before{
		@extend %btn-before;

		content: '\e90f'; // ding
		font-size: 13px;
	}
	&:hover, &:focus{
		&:before{
			transform: translate3d(0, 0, 0) rotate(20deg);
		}
	}
}

.btn-delete{
	@extend %btn-arrow-base;
	&:before, &:after{
		text-indent: 0;
		position: absolute;
	}
	&:before{
		@extend %btn-before;
		margin: 0;
		content: '\e90b'; //trash-cover
		top: 0;
		left: -20px;
		font-size: 3.5px;
		transform-origin: 100% 0%;
	}
	&:after{
		@extend %btn-after;
		content: '\e909';
		top: 2px;
		left: -23px;
		font-size: 12px;
	}
	&:hover, &:focus{
		&:before{
			transform: translate3d(1px, -3px, 0) rotate(10deg);
		}
	}
	&.btn-no-text{
		width: 15px;
		height: 24px;
		&:before {
			top:5px;
			left:0;
		}
		&:after{
			top:7px;
			left:2px;
		}
	}
}

/*.btn-mail{
	@extend %btn-arrow-base;

	&:after{
		@extend %btn-after;

		content: '\e90c'; //mail2
	}
	&:hover, &:focus{
		&:after{
			transform: translate3d(0, 0, 0) scale(0.95);
		}
	}
	&.btn-no-text{
		width: 16px;
		height: 15px;
	}
}*/

.btn-alert{
	@extend %btn-arrow-base;
}

.btn-simple{
	@include roboto-cd-bold(0.625em);

	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-underlined{
	text-decoration: underline;
}

.btn-block{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	padding: 13px 13px 12px 13px;
	@include roboto-cd-bold(0.75em);
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	background-color: $theme-btn;
	color: $blanc;
	border: none;
	backface-visibility: hidden;
	line-height: 1em;
	&.light{
		background-color: $theme-btn-light;
	}
	&.medium{
		@include roboto-cd-bold(1em);

		padding: 15px 13px;
	}
	&.big{
		padding: 22px 25px;
	}
	&.huge{
		padding: 22px 40px;
		font-size: 1em;
	}
	&.btn-rouge{
		.border{
			border-color: $theme-gradient-1 $theme-gradient-1;
		}
	}
	&.btn-orange{
		.border{
			border-color: #de3d25 #de3d25;
		}
	}
	&.btn-orange-light{
		.border{
			border-color: #ef6a2b #ef6a2b;
		}
		&:hover, &:focus{
			color: #ef6a2b;
		}
	}
	&.btn-alert{
		padding: 16px 16px 15px 18px;
		font-size: 1em;
		letter-spacing: 0;
		&:before{
			@include font-icon;

			content: '\e90a';
			display: inline-block;
			width: auto;
			height: 16px;
			//top: -2px;
			//bottom: 0;
			//left: 20px;
			right: auto;
			padding-right: 12px;
			margin: auto;
			z-index: auto;
			opacity: 1;
			font-size: 18px;
			background: none;
			transform: translate3d(0, 0, 0);
			transform-origin: 50% 50%;
			transition: transform $transition;
		}
		&:hover, &:focus{
			&:before{
				transform: translate3d(0, 0, 0) rotate(20deg);
			}
		}
	}
	.wrapper-input-btn &{
		position: absolute;
		top: 0;
		right: 0;
	}
	&.right{
		float: right;
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		box-shadow: 0 24px 76px 0 rgba(0, 0, 0, 0.2);
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}
	.border{
		display: block;
		position: absolute;
		width: auto;
		height: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		box-sizing: border-box;
		border: 3px solid $theme-btn;
		pointer-events: none;
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: $blanc;
			transform: scaleX(0);
			transform-origin: 0 50%;
			transition: transform 0.3s ease-in-out;
		}
	}
	.txt-btn{
		position: relative;
	}
	&:hover, &:focus{
		color: $theme-btn;
		.border{
			&:before{
				transform: scaleX(1);
			}
		}
		&:after{
			opacity: 1;
		}
	}
}

.btn-align-right{
	float: right;
	margin: 0;
}

/*.btn-block-arrow{
	@extend %btn-arrow-base;
	@extend %btn-arrow;

	display: inline-block;
	width: 48%;
	padding: 22px 25px;
	vertical-align: middle;
	font-size: 1.2em;
	text-align: center;
	background: $theme-btn;
	color: $blanc;
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.4);
	&:after{
		margin-left: 15px;
		font-size: 9px;
	}
}*/

.btn-rouge{
	background: $theme-gradient-1;
}

.btn-orange{
	background: #de3d25;
}

.btn-orange-light{
	background: #ef6a2b;
}

.btn-close{
	display: block;
	@include size(58px);

	color: $blanc;
	background: rgb(174, 46, 57);
	font-size: 18px;
	&:before{
		display: block;
		transform: translate3d(0, 0, 0);
		transition: transform $transition;
	}
	&:hover, &:focus{
		color: $blanc;
		&:before{
			transform: translate3d(0, 0, 0) rotate(90deg);
		}
	}
}

.btn-deconnexion{
	position: relative;
	@include roboto(0.75em);
	padding: 0 0 0 12px;
	&:before{
		@include font-icon;
		content: '\e90e';
		font-size: 10px;
		position: absolute;
		top: 50%;
		left: 0;
		margin: -4px 0 0 0;
		text-decoration: none;
	}
}

.option {
	label {
		display: block;
		cursor: pointer;
	}
	.title-simple{
	    font-family: $roboto;
	    font-size: 1em;
	    letter-spacing: 0;
	    padding: 17px 0;
	    &:before{
	    	//position: absolute;
	    	//left: -9999px;
	    }
	    strong{
			display: block;
			font-family: $roboto-cd-bold;
			font-size: 1.25em;
	    }
	}
	.p{
		padding: 0;
		width: auto;
		padding-left: 20px;
	}
	#checkbox {
		position: absolute;
		left: -9999em;
		&:checked {
			+ label {
				color: #fff;
				background: #ee5f20;
			}
		}
	}
	input[type=checkbox] + label {
	    padding-left: 20px;
	}
}

.txt-middle{
	bottom: 2px;
}

.btn-plus{
	@extend %btn-arrow-base;

	&:before{
		content: '\e918';
		@include font-icon;
		margin-right: 5px;
		display: inline-block;
		vertical-align: middle;
		position:relative;
		top:-.1em;
	}
}

.btn-minus{
	@extend %btn-arrow-base;

	&:before{
		content: '\e917';
		@include font-icon;
	}
}