/* Buttons */

.btn-no-text, .btn-home{
	white-space: nowrap;
	overflow: hidden;
	text-indent: 99em;
	line-height: 0;
	&:after{
		float: left;
		margin: 0;
		text-indent: 0;
	}
}

.btn-home{
	width: 68px;
	height: 64px;
	&:after{
		@include font-icon;

		content: '\e911';
		font-size: 18px;
	}
}
.btn-info{
    &:after{
    	content: "?";
    	display: inline-block;
    	vertical-align: top;
        height: 15px;
        width: 15px;
        border: 2px #c52d38 solid;
        font-family: $roboto;
        font-size: 0.7em;
        padding: 0px 2px;
        margin-left: 10px;
        color: #c52d38;
    }
}

.btn-photo {
	text-transform: uppercase;
	font-size: 0.8em;
	font-family: $roboto-cd-bold;
	letter-spacing: 1px;
	&:before{
		font-size: 1.15em;
		vertical-align: top;
		margin-right: 5px;
		content: '\e90c';
		@include font-icon;
	}
}
.btn-arrow{
	@extend %btn-arrow-base;
	@extend %btn-arrow;

	&.btn-no-text{
		width: 15px;
		height: 11px;
	}

	&.plain {
		color:$blanc;
		background: $theme-gradient-1;
		display:inline-block;
		padding: 0.5em 1.8em 0.5em 1em;
		margin:1em 0;
		font-size:0.9em;
		&:after{
			right: 1.6em;
		}
	}
}

.btn-arrow-back{
	@extend %btn-arrow-base;
	@extend %btn-arrow-back;
}

.btn-print {
	@extend %btn-arrow-base;
	&:before{
		@extend %btn-before;
		content: '\e913'; // printer
	}
}

.btn-heart {
	@extend %btn-arrow-base;
	&:before{
		@extend %btn-before;
		content: '\e912'; // heart
		transition: opacity 0.1s ease-in-out, transform 0.3s ease-in-out;
		transition-delay: 0.3s, 0.3s;
		top:1px;
		position:relative;
	}
	&:after{
		@extend %btn-after;
		content: '\e91b'; // heart
		position: absolute;
    	left: -4px;
    	font-size: 12px;
		transform: scale(1.3);
		opacity:0;
		transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
		transition-delay: 0, 0;
		top:1px;
	}
	&.on:before {
		transform: scale(1.3);
		opacity:0;
		transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
		transition-delay: 0s, 0s;
	}
	&.on:after {
		transform: scale(1);
		opacity:1;
		transition: opacity 0.1s ease-in-out, transform 0.3s ease-in-out;
		transition-delay: 0.3s, 0.3s;
	}
}

.btn-pen{
	@extend %btn-arrow-base;
	&:after{
		@extend %btn-after;
		content: '\e905';
	}
	&:hover, &:focus{
		&:after, &:before{
			transform: translate3d(0, 0, 0) rotate(-90deg);
		}
	}
	&.btn-no-text{
		width: 17px;
	}
	&.left-icon {
		&:after{
			display:none;
		}
		&:before{
			@extend %btn-before;
			content: '\e905';
		}
	}
}

.btn-pen-orange{
	color: $orange-btn;
	&:hover {
		color: $orange-btn;
	}
}
.btn-cancel{
	@extend %btn-arrow-base;

	&:before{
		@extend %btn-before;

		content: '\e906'; // cross
	}
	&:hover, &:focus{
		&:before{
			transform: translate3d(0, 0, 0) rotate(90deg);
		}
	}
}

.btn-alert{
	@extend %btn-arrow-base;
	&:before{
		@extend %btn-before;

		content: '\e90f'; // ding
		font-size: 13px;
	}
	&:hover, &:focus{
		&:before{
			transform: translate3d(0, 0, 0) rotate(20deg);
		}
	}
}

.btn-delete{
	@extend %btn-arrow-base;
	&:before, &:after{
		text-indent: 0;
		position: absolute;
	}
	&:before{
		@extend %btn-before;
		margin: 0;
		content: '\e90b'; //trash-cover
		top: 0;
		left: -20px;
		font-size: 3.7px;
		transform-origin: 100% 0%;
	}
	&:after{
		@extend %btn-after;
		content: '\e909';
		top: 1px;
		left: -23px;
		font-size: 12px;
	}
	&:hover, &:focus{
		&:before{
			transform: translate3d(1px, -3px, 0) rotate(10deg);
		}
	}
	&.btn-no-text{
		width: 15px;
		height: 26px;
		&:before {
			top:5.5px;
			left:-0.7px;
		}
		&:after{
			top:8px;
			left:2px;
		}
	}
}

/*.btn-mail{
	@extend %btn-arrow-base;

	&:after{
		@extend %btn-after;

		content: '\e90c'; //mail2
	}
	&:hover, &:focus{
		&:after{
			transform: translate3d(0, 0, 0) scale(0.95);
		}
	}
	&.btn-no-text{
		width: 16px;
		height: 15px;
	}
}*/

.btn-alert{
	@extend %btn-arrow-base;
}

.btn-simple,a.btn-simple, button.btn-simple{
	@include roboto-cd-bold(0.625em);

	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-underlined,a.btn-underlined, button.btn-underlined{
	text-decoration: underline;
}

a.btn-block, button.btn-block, .btn-block {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	padding: 13px 13px 12px 13px;
	@include roboto-cd-bold(0.75em);
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	background-color: $theme-btn;
	color: $blanc;
	border: none;
	backface-visibility: hidden;
	line-height: 1em;
	&.big-margin-top{
		margin-top: 30px;
	}
	&.light{
		background-color: $theme-btn-light;
	}
	&.medium{
		@include roboto-cd-bold(1em);

		padding: 15px 13px;
	}
	&.big{
		padding: 22px 25px;
	}
	&.huge{
		padding: 22px 40px;
		font-size: 1em;
	}
	&.has-shadow{
		box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.22);
	}
	&.btn-rouge{
		.border{
			border-color: $theme-gradient-1 $theme-gradient-1;
		}
		.price-btn{
			color: $theme-gradient-1;
		}
		&:hover, &:focus{
			.price-btn{
				color: $theme-gradient-1;
			}
		}
	}
	&.btn-orange{
		.border{
			border-color: #de3d25 #de3d25;
		}
		.price-btn{
			color: #de3d25;
		}
		&:hover, &:focus{
			.price-btn{
				color: #de3d25;
			}
		}
	}
	&.btn-orange-light{
		.border{
			border-color: #ef6a2b #ef6a2b;
		}
		.price-btn{
			color: #ef6a2b;
		}
		&:hover, &:focus{
			color: #ef6a2b;
			.price-btn{
				color: #ef6a2b;
			}
		}
	}
	&.btn-orange-sale{
		background: #e24318;
		.border{
			border-color: #e24318 #e24318;
		}
		.price-btn{
			color: #e24318;
		}
		&:hover, &:focus{
			color: #e24318;
			.price-btn{
				color: #e24318;
			}
		}
	}
	&.btn-orange-job{
		background: #f78232;
		.border{
			border-color: #f78232 #f78232;
		}
		.price-btn{
			color: #f78232;
		}
		&:hover, &:focus{
			color: #f78232;
			.price-btn{
				color: #f78232;
			}
		}
	}
	&.btn-yellow{
		color:$blanc;
		.border{
			border-color: $yellow $yellow;
		}
		.price-btn{
			color: $yellow;
		}
		&:hover, &:focus{
			color: $yellow;
			.price-btn{
				color: $yellow;
			}
		}
	}
	&.btn-orange-cercle{
		color:$blanc;
		.border{
			border-color: $orange $orange;
		}
		&:hover, &:focus{
			color: $orange;
		}
		.price-btn{
			color: $orange;
		}
	}
	&.btn-white-border{
		.border{
			border-color: $blanc $blanc;
		}
	}
	&.btn-alert{
		padding: 16px 16px 15px 13px;
		font-size: 1em;
		letter-spacing: 0;
		&:before{
			@extend %btn-before;
			content: '\e90f'; // ding
			font-size: 14px;
			display: inline-block;
			width: auto;
			height: 16px;
			//top: -2px;
			//bottom: 0;
			//left: 20px;
			right: auto;
			padding-right: 10px;
			margin: auto;
			z-index: auto;
			opacity: 1;
			background: none;
			transform: translate3d(1px, 0, 0);
			transform-origin: 50% 50%;
			transition: all $transition;
			position:relative;
		}
		&:hover, &:focus{
			&:before{
				transform: translate3d(1px, 2px, 0) rotate(20deg);
				color: $theme-btn;
				z-index: 5;
			}
		}
	}
	&.btn-price{
		padding: 0;
		.price-btn{
			display: inline-block;
			vertical-align: middle;
			position: relative;
			background: $blanc;
			font-size: 2.5em;
			line-height: 1;
			padding: 15px;
			border-top: 3px solid currentColor;
			border-bottom: 3px solid currentColor;
			border-left: 3px solid currentColor;
			font-family: $roboto-cd;
		}
		.txt-btn{
			display: inline-block;
			vertical-align: middle;
			padding: 15px 25px;
			font-family: $roboto-cd-bold;
		}
	}
	.wrapper-input-btn &{
		position: absolute;
		top: 0;
		right: 0;
	}
	&.right{
		float: right;
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		box-shadow: 0 24px 76px 0 rgba(0, 0, 0, 0.2);
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}
	.border{
		display: block;
		position: absolute;
		width: auto;
		height: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		box-sizing: border-box;
		border: 3px solid $theme-btn;
		pointer-events: none;
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: $blanc;
			transform: scaleX(0);
			transform-origin: 0 50%;
			transition: transform 0.3s ease-in-out;
		}
	}
	.txt-btn{
		position: relative;
	}
	&:hover, &:focus{
		color: $theme-btn;
		.border{
			&:before{
				transform: scaleX(1);
			}
		}
		&:after{
			opacity: 1;
		}
	}
}

.btn-align-right, a.btn-align-right, button.btn-align-right{
	float: right;
	margin: 0;
}

/*.btn-block-arrow{
	@extend %btn-arrow-base;
	@extend %btn-arrow;

	display: inline-block;
	width: 48%;
	padding: 22px 25px;
	vertical-align: middle;
	font-size: 1.2em;
	text-align: center;
	background: $theme-btn;
	color: $blanc;
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.4);
	&:after{
		margin-left: 15px;
		font-size: 9px;
	}
}*/

.btn-rouge, a.btn-rouge, button.btn-rouge{
	background: $theme-gradient-1;
}

.btn-orange, a.btn-orange, button.btn-orange{
	background: #de3d25;
}

.btn-orange-light, a.btn-orange-light, button.btn-orange-light{
	background: #ef6a2b;
}

.btn-orange-cercle, a.btn-orange-cercle, button.btn-orange-cercle{
	background: $orange;
}

.btn-yellow, a.btn-yellow, button.btn-yellow {
	background: $yellow;
}

.btn-close, a.btn-close, button.btn-close{
	display: block;
	@include size(58px);

	color: $blanc;
	background: rgb(174, 46, 57);
	font-size: 18px;
	&:before{
		display: block;
		transform: translate3d(0, 0, 0);
		transition: transform $transition;
	}
	&:hover, &:focus{
		color: $blanc;
		&:before{
			transform: translate3d(0, 0, 0) rotate(90deg);
		}
	}
}

.btn-deconnexion, a.btn-deconnexion, button.btn-deconnexion{
	position: relative;
	@include roboto(0.75em);
	padding: 0 0 0 12px;
	&:before{
		@include font-icon;
		content: '\e90e';
		font-size: 10px;
		position: absolute;
		top: 50%;
		left: 0;
		margin: -4px 0 0 0;
		text-decoration: none;
	}
}

.option, a.option, button.option {
	label {
		display: block;
		cursor: pointer;
	}
	.title-simple{
	    font-family: $roboto;
	    font-size: 1em;
	    letter-spacing: 0;
	    padding: 17px 0;
	    &:before{
	    	//position: absolute;
	    	//left: -9999px;
	    }
	    strong{
			display: block;
			font-family: $roboto-cd-bold;
			font-size: 1.25em;
	    }
	}
	.p{
		padding: 0;
		width: auto;
		padding-left: 20px;
	}
	#checkbox {
		position: absolute;
		left: -9999em;
		&:checked {
			+ label {
				color: #fff;
				background: #ee5f20;
			}
		}
	}
	input[type=checkbox] + label {
	    padding-left: 20px;
	}
}

.txt-middle{
	bottom: 2px;
}

.btn-plus, a.btn-plus, button.btn-plus {
	@extend %btn-arrow-base;

	&:before{
		content: '\e918';
		@include font-icon;
		margin-right: 5px;
		display: inline-block;
		vertical-align: middle;
		position:relative;
		top:-.1em;
	}
}

.btn-minus, a.btn-minus, button.btn-minus {
	@extend %btn-arrow-base;

	&:before{
		content: '\e917';
		@include font-icon;
	}
}

.btn-q-a{
	display: block;
	font-family: $roboto-cd-bold;
	font-size: 1.8rem;
	padding: 22px 20px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: $blanc;
	background: rgb(229, 83, 47);
	border: 4px solid rgb(229, 83, 47);
	.content-btn{
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding: 0 0 0 20px;
		&:before{
			position: absolute;
			top: 0;
			left: 0;
			transition: opacity 0.1s ease-in-out;
		}
		&:after{
			content: '\e91c';
			@include font-icon;
			font-size: 12px;
			position: absolute;
			top: 50%;
			left: 0;
			margin: -7px 0 0 0;
			opacity: 0;
			transition: opacity 0.1s ease-in-out;
		}
	}
	.underline{
		box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
	}
	&:hover, &.valid{
		background: $blanc;
		color: rgb(229, 83, 47);
	}
	&.valid{
		padding: 12px 20px;
		.content-btn{
			&:before{
				opacity: 0;
			}
			&:after{
				opacity: 1;
			}
		}
	}
	&.invalid{
		padding: 12px 20px;
		background: $blanc;
		color: rgb(214, 214, 218);
		border-color: rgb(214, 214, 218);
	}
}
.btn-txt{
	font-family: $roboto-cd-bold;
	font-size: 1.4rem;
	text-decoration: none;
	text-transform: uppercase;
	color: $blanc;
	&:hover, &:focus{
		opacity: 0.7;
		color: $blanc;
	}
}
