/* Buttons */

.btn-arrow{
	@extend %btn-arrow;
}

.btn-block{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	overflow: hidden;
	padding: 13px 13px 12px 13px;
	@include roboto-cd-bold(0.750em);
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	background-color: $theme-btn;
	color: $blanc;
	border: none;
	backface-visibility: hidden;
	line-height: 1em;
	.wrapper-input-btn &{
		position: absolute;
		top: 0;
		right: 0;
	}
	&::before, &::after{
		content: '';
		display: block;
		position: absolute;
		background: rgb(134, 48, 58);
		transform: rotate(45deg);
		z-index: -1;
		opacity: 0.1;
	}
	&::before{
		@include size(45px);
		top: 25px;
		right: 3px;
	}
	&::after{
		@include size(36px);
		top: -28px;
		right: 62px;
	}
	&.big{
		padding: 22px 25px;
	}
	&.huge{
		padding: 22px 40px;
		font-size: 1em;
	}
}

.btn-block-arrow{
	@extend %btn-arrow;

	display: inline-block;
	width: 48%;
	padding: 22px 25px;
	vertical-align: middle;
	font-size: 1.2em;
	text-align: center;
	background: $theme-btn;
	color: $blanc;
	box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.4);
	&::after{
		margin-left: 15px;
		font-size: 9px;
	}
}

.btn-orange{
	background: #de3d25;
}
