$tps-choice-etape-1: 0.3s;
$tps-choice-etape-2: 0.3s;

/* Choices */
.wrapper-choices{
	position: relative;
	overflow: hidden;
	margin: -100px 0 75px 0;
	box-shadow: 0px 24px 76px 0px rgba(0, 0, 0, 0.06);
}
.choices{
	display: block;
	position: relative;
	height: 440px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: normal;
	&.three-choices{
		.zone-btn{
			width: 33.333333%;
		}
		.zone-content{
			width: 66.666666%;
		}
		> li{
			&:nth-child(2){
				left: 33.333333%;
			}
			&:nth-child(3){
				left: 66.666666%;
			}
		}
		&.choice-2-active{
			> li{
				&:nth-child(2){
					transform: translateX(-33.333333%);
				}
			}
		}
		&.choice-3-active{
			> li{
				&:nth-child(3){
					transform: translateX(-66.666666%);
				}
			}
		}
	}
	> li{
		display: inline-block;
		vertical-align: top;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		text-align: center;

		transform-origin: 0 50%;
		transition: transform $tps-choice-etape-1 ease-in-out;
		transition-delay: $tps-choice-etape-1;
		&::before{
			display: none;
		}
		&:last-child{
			.zone-btn{
				&:before{
					border-right: 1px solid $gris;
				}
			}
		}
		&:nth-child(1){
			left: 0;
			.bg-choice{
				background: linear-gradient(to bottom, $theme2-gradient-1 0%, darken($theme2-gradient-1, 5%) 100%);
				&:before{
					width: 300px;
					height: 300px;
					top: -132px;
					left: -289px;
					background: rgb(198, 40, 25);
				}
				&:after{
					width: 484px;
					height: 484px;
					top: 243px;
					left: 40px;
					background: rgb(198, 40, 25);
				}
			}
			h3{
				color: rgb(183, 48, 56);
			}
		}
		&:nth-child(2){
			left: 20%;
			.bg-choice{
				background: linear-gradient(to bottom, $theme2-gradient-2 0%, darken($theme2-gradient-2, 5%) 100%);
				&:before{
					width: 300px;
					height: 300px;
					top: -267px;
					left: -92px;
					background: rgb(212, 47, 31);
					opacity: 0.5;
				}
			}
			h3{
				color: rgb(197, 51, 44);
			}
		}
		&:nth-child(3){
			left: 40%;
			.bg-choice{
				background: linear-gradient(to bottom, $theme2-gradient-3 0%, darken($theme2-gradient-3, 5%) 100%);
				&:before{
					width: 84px;
					height: 84px;
					top: 27px;
					left: -23px;
					background: rgb(228, 77, 29);
					opacity: 0.8;
				}
			}
			h3{
				color: rgb(204, 68, 48);
			}
		}
		&:nth-child(4){
			left: 60%;
			.bg-choice{
				background: linear-gradient(to bottom, $theme2-gradient-4 0%, darken($theme2-gradient-4, 5%) 100%);
				&:before{
					width: 235px;
					height: 235px;
					top: -98px;
					left: 53px;
					background: rgb(235, 91, 30);
				}
				&:after{
					width: 235px;
					height: 235px;
					top: 194px;
					left: -136px;
					background: rgb(235, 91, 30);
				}
			}
			h3{
				color: rgb(211, 83, 37);
			}
		}
		&:nth-child(5){
			left: 80%;
			.bg-choice{
				background: linear-gradient(to bottom, $theme2-gradient-5 0%, darken($theme2-gradient-5, 5%) 100%);
				&:before{
					width: 92px;
					height: 92px;
					top: -70px;
					left: -20px;
					background: rgb(241, 103, 30);
					opacity: 0.5;
				}
				&:after{
					width: 216px;
					height: 216px;
					top: 7px;
					left: 76px;
					background: rgb(241, 103, 30);
					opacity: 0.5;
				}
			}
			h3{
				color: rgb(230, 128, 37);
			}
		}
	}
	&.choice-1-active, &.choice-2-active, &.choice-3-active, &.choice-4-active, &.choice-5-active{
		transition-delay: 0s;
		.visuel{
			transition-delay: 0s;
		}
		.zone-txt{
			transition-delay: 0s;
		}
		h3, p{
			transition-delay: 0s;
		}
		.zone-btn{
			&:before{
				transition-delay: 0s;
			}
		}
		.bg-choice{
			transition-delay: 0s;
		}
		.zone-content{
			transition-delay: 0s;
		}
		.content{
			transition-delay: 0.3s;
		}
	}
	&.choice-1-animating{
		> li{
			&:nth-child(1){
				z-index: 4;
			}
		}
	}
	&.choice-2-animating{
		> li{
			&:nth-child(2){
				z-index: 4;
			}
		}
	}
	&.choice-3-animating{
		> li{
			&:nth-child(3){
				z-index: 4;
			}
		}
	}
	&.choice-4-animating{
		> li{
			&:nth-child(4){
				z-index: 4;
			}
		}
	}
	&.choice-5-animating{
		> li{
			&:nth-child(5){
				z-index: 4;
			}
		}
	}
	&.choice-1-active{
		> li{
			&:nth-child(1){
				z-index: 4;
				.zone-content{
					transform: scaleX(1);
				}
				.content{
					opacity: 1;
				}
				.zone-btn{
					&:before{
						transform: translateY(100%);
					}
				}
				.visuel{
					transform: translateY(36px);
				}
				.zone-txt{
					transform: translateY(-50px);
				}
				h3, p{
					color: $blanc;
				}
			}
		}
		.bg-choice{
			opacity: 1;
		}
	}
	&.choice-2-active{
		> li{
			&:nth-child(2){
				z-index: 4;
				transform: translateX(-20%);
				.zone-content{
					transform: scaleX(1);
				}
				.content{
					opacity: 1;
				}
				.zone-btn{
					&:before{
						transform: translateY(100%);
					}
				}
				.visuel{
					transform: translateY(36px);
				}
				.zone-txt{
					transform: translateY(-50px);
				}
				h3, p{
					color: $blanc;
				}
			}
		}
		.bg-choice{
			opacity: 1;
		}
	}
	&.choice-3-active{
		> li{
			&:nth-child(3){
				z-index: 4;
				transform: translateX(-40%);
				.zone-content{
					transform: scaleX(1);
				}
				.content{
					opacity: 1;
				}
				.zone-btn{
					&:before{
						transform: translateY(100%);
					}
				}
				.visuel{
					transform: translateY(36px);
				}
				.zone-txt{
					transform: translateY(-50px);
				}
				h3, p{
					color: $blanc;
				}
			}
		}
		.bg-choice{
			opacity: 1;
		}
	}
	&.choice-4-active{
		> li{
			&:nth-child(4){
				z-index: 4;
				transform: translateX(-60%);
				.zone-content{
					transform: scaleX(1);
				}
				.content{
					opacity: 1;
				}
				.zone-btn{
					&:before{
						transform: translateY(100%);
					}
				}
				.visuel{
					transform: translateY(36px);
				}
				.zone-txt{
					transform: translateY(-50px);
				}
				h3, p{
					color: $blanc;
				}
			}
		}
		.bg-choice{
			opacity: 1;
		}
	}
	&.choice-5-active{
		> li{
			&:nth-child(5){
				z-index: 4;
				transform: translateX(-80%);
				.zone-content{
					transform: scaleX(1);
				}
				.content{
					opacity: 1;
				}
				.zone-btn{
					&:before{
						transform: translateY(100%);
					}
				}
				.visuel{
					transform: translateY(36px);
				}
				.zone-txt{
					transform: translateY(-50px);
				}
				h3, p{
					color: $blanc;
				}
			}
		}
		.bg-choice{
			opacity: 1;
		}
	}
	.zone-btn{
		display: inline-block;
		vertical-align: top;
		width: 20%;
		height: 100%;
		position: relative;
		&:before{
			content: '';
			display: block;
			width: 100%;
			height: 216px;
			box-sizing: border-box;
			background-color: $blanc;
			border-top: 1px solid $gris;
			border-bottom: 1px solid $gris;
			border-left: 1px solid $gris;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 2;

			transition: transform $tps-choice-etape-1 ease-in-out;
			transition-delay: $tps-choice-etape-1;
		}
	}
	.zone-content{
		display: inline-block;
		vertical-align: top;
		width: 80%;
		height: 100%;
		position: relative;
		background-color: rgb(245, 245, 245);
		box-sizing: border-box;
		text-align: left;
		z-index: 1;
		&:before{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border: 1px solid rgb(218, 218, 218);
			box-sizing: border-box;
			z-index: -1;
		}
		
		transition: transform $tps-choice-etape-1 ease-in-out;
		//transition-delay: $tps-transition-choice;
		transform: scaleX(0);
		transform-origin: 0 50%;
		transition-delay: 0.3s;
	}
	.content{
		position: relative;
		height: 100%;
		z-index: 1;
		&:before{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border: 1px solid rgb(218, 218, 218);
			box-sizing: border-box;
			z-index: -1;
		}

		opacity: 0;
		transition: opacity $tps-choice-etape-2 ease-in-out;
		transition-delay: 0s;
	}
	.btn-choice{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: none;
		z-index: 3;
		border: none;
	}
	.bg-choice{
		display: block;
		overflow: hidden;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		opacity: 0.95;
		transition: opacity 0 ease-in-out;
		transition-delay: $tps-choice-etape-1;
		&:before, &:after{
			content: '';
			display: block;
			position: absolute;
			transform: rotate(45deg);
		}
	}
	.visuel{
		height: 224px;
		position: relative;
		overflow: hidden;

		transition: transform $tps-choice-etape-1 ease-in-out;
		transition-delay: $tps-choice-etape-1;
		.wrapper-alignment{
			height: 100%;
		}
		.content-align-middle{
			width: 100%;
			position: relative;
		}
	}
	.zone-txt{
		box-sizing: border-box;
		height: 216px;
		padding: 20px;
		position: relative;
		z-index: 2;

		transition: transform $tps-choice-etape-1 ease-in-out;
		transition-delay: $tps-choice-etape-1;
	}
	h3{
		margin: 0;
		font-size: 1.75em;
	}
	p{
		margin: 10px 0;
	}
	h3, p{
		transition: color $tps-choice-etape-1 ease-in-out;
		transition-delay: 0.3s;
	}
	.btn-close-choice{
		display: block;
		@include size(40px);
		background-color: $blanc;
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		border-left: 1px solid rgb(218, 218, 218);
		border-bottom: 1px solid rgb(218, 218, 218);
		font-size: 15px;
		color: rgb(218, 218, 218);
		text-align: center;
		line-height: 40px;
	}
	.table-types{
		table-layout: fixed;
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		height: 440px;
		border: none;
		box-sizing: border-box;
		tr{
			margin: 0;
			padding: 0;
			&:nth-child(1){
				td{
					&:nth-child(1){
						a{
							&::before{
								background-color: $theme-gradient-1;
							}
						}
					}
					&:nth-child(2){
						a{
							&::before{
								background-color: $theme-gradient-2;
							}
						}
					}
				}
			}
			&:nth-child(2){
				td{
					&:nth-child(1){
						a{
							&::before{
								background-color: $theme-gradient-2;
							}
						}
					}
					&:nth-child(2){
						a{
							&::before{
								background-color: $theme-gradient-3;
							}
						}
					}
					&:nth-child(3){
						a{
							&::before{
								background-color: $theme-gradient-4;
							}
						}
					}
				}
			}
			&:nth-child(3){
				td{
					&:nth-child(1){
						a{
							&::before{
								background-color: $theme-gradient-3;
							}
						}
					}
					&:nth-child(2){
						a{
							&::before{
								background-color: $theme-gradient-4;
							}
						}
					}
					&:nth-child(3){
						a{
							&::before{
								background-color: $theme-gradient-5;
							}
						}
					}
				}
			}
			&:nth-child(4){
				td{
					&:nth-child(1){
						a{
							&::before{
								background-color: $theme-gradient-4;
							}
						}
					}
					&:nth-child(2){
						a{
							&::before{
								background-color: $theme-gradient-5;
							}
						}
					}
					&:nth-child(3){
						a{
							&::before{
								background-color: $theme-gradient-6;
							}
						}
					}
				}
			}
			&:nth-child(5){
				td{
					&:nth-child(1){
						a{
							&::before{
								background-color: $theme-gradient-5;
							}
						}
					}
					&:nth-child(2){
						a{
							&::before{
								background-color: $theme-gradient-6;
							}
						}
					}
					&:nth-child(3){
						a{
							&::before{
								background-color: $theme-gradient-1;
							}
						}
					}
				}
			}
			&:nth-child(6){
				td{
					&:nth-child(1){
						a{
							&::before{
								background-color: $theme-gradient-6;
							}
						}
					}
					&:nth-child(2){
						a{
							&::before{
								background-color: $theme-gradient-1;
							}
						}
					}
					&:nth-child(3){
						a{
							&::before{
								background-color: $theme-gradient-2;
							}
						}
					}
				}
			}
			td{
				margin: 0;
				padding: 0;
				vertical-align: top;
				border: 1px solid rgb(218, 218, 218);
				box-sizing: border-box;
			}
		}
		a{
			display: block;
			position: relative;
			height: 71px;
			width: 100%;
			box-sizing: border-box;
			padding: 27px 22px 0 22px;
			@include roboto-medium(1em);
			color: rgb(40, 44, 52);
			text-decoration: none;
			background-color: $blanc;
			margin: 0;
			z-index: 2;
			overflow: hidden;
			&::before{
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				transform: translateX(-100%);
				transition: transform 0.3s ease-in-out;
			}
			span{
				margin: 0;
				padding: 0;
			}
			&:hover{
				&::before{
					transform: translateX(0%);
				}
				color: $blanc;
			}
		}
	}
	.types{
		display: none;
		height: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		columns: 3;
		column-gap: 0;
		> li{
			display: block;
			height: 16.666666667%;
		}
		a{
			display: block;
			height: 100%;
			width: 100%;
			box-sizing: border-box;
			padding: 27px 22px 0 22px;
			@include roboto-medium(1.6em);
			color: rgb(40, 44, 52);
			text-decoration: none;
			background-color: $blanc;
			border: 1px solid rgb(218, 218, 218);
			margin: 0;
			span{
				margin: 0;
				padding: 0;
			}
		}
	}
}