/* Field header */

.field-header{
	position: relative;
	margin: -100px 0 45px;
	&.field-sale{
		.field-header-title{
			background: linear-gradient(to bottom, rgba(#f2821e, 0.95) 0, rgba(#ec4610, 0.95) 100%);
			&:before{
				width: 129px;
				height: 75px;
				background: url(../img/vente@2x.png) no-repeat;
				background-size: 100%;
			}
			&:after{
				background: #ec4113;
			}
			.rect{
				&:before{
					background: #f1661e;
				}
				&:after{
					background: #ec4113;
				}
			}
		}
	}
	&-title{
		padding: 45px $gutter 50px 185px;
		position: relative;
		overflow: hidden;
		color: #fff;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 35px;
			margin: auto;
		}
		&:after{
			@include size(100px);

			content: '';
			position: absolute;
			left: 200px;
			bottom: 0;
			opacity: 0.5;
			transform: rotate(45deg) translateY(70%);
		}
		.rect{
			&:before, &:after{
				@include size(100px);

				content: '';
				position: absolute;
				opacity: 0.5;
				transform: rotate(45deg);
			}
			&:before{
				top: -50px;
				left: -50px;
			}
			&:after{
				bottom: -50px;
				right: -50px;
			}
		}
	}
	.breadcrumb{
		padding: 0;
		margin: 0;
		color: #fff;
		a{
			&:hover, &:focus{
				color: rgba(#fff, 0.7);
			}
			&:active{
				color: rgba(#fff, 0.5);
			}
		}
	}
	h1{
		padding: 0;
		position: relative;
		margin-bottom: 0;
		z-index: 1;
	}
	&-text{
		padding: 40px $gutter;
		border: 1px solid $gris;
		border-top: 0;
		box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.05);
		background: #fff;
		p{
			margin: 5px 0 15px;
			line-height: 1.3;
			letter-spacing: -0.5px;
		}
	}
}


/* Field list */

.field-list{
	@extend %list-base;

	li{
		margin-bottom: 10px;
	}
	a{
		min-height: 210px;
		border: 1px solid $gris;
		border-right: 0;
		box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.05);
		background: #fff;
		&:before{
			left: -8px;
			right: 8px;
			transform: translateX(100%);
		}
		&:hover, &:focus{
			&:before{
				transform: translateX(8px);
			}
			.img{
				opacity: 0.7;
			}
			.link{
				color: #fff;
			}
		}
	}
	.img{
		width: 39%;
		height: 100%;
		position: absolute;
		overflow: hidden;
		transition: $transition;
	}
	img{
		max-width: none;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		bottom: 0;
		margin: auto;
		transform: translateX(-50%);
	}
	.field-txt{
		display: block;
		padding: 40px 60px 40px 43%;
	}
	.title-simple-big{
		vertical-align: middle;
		margin-right: 20px;
	}
	.p{
		display: block;
		margin: 15px 0 0;
		line-height: 1.3;
		letter-spacing: -0.5px;
	}
}
