/* Field */

.field{
	position: relative;
	margin: -100px 0 45px;
	&-header{
		padding: 45px $gutter 50px 185px;
		position: relative;
		overflow: hidden;
		color: #fff;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 35px;
			margin: auto;
		}
		&:after{
			@include size(100px);

			content: '';
			position: absolute;
			left: 200px;
			bottom: 0;
			opacity: 0.5;
			transform: rotate(45deg) translateY(70%);
		}
		.rect{
			&:before, &:after{
				@include size(100px);

				content: '';
				position: absolute;
				opacity: 0.5;
				transform: rotate(45deg);
			}
			&:before{
				top: -50px;
				left: -50px;
			}
			&:after{
				bottom: -50px;
				right: -50px;
			}
		}
	}
	&.field-sale{
		.field-header{
			background: linear-gradient(to bottom, rgba(#f2821e, 0.95) 0, rgba(#ec4610, 0.95) 100%);
			&:before{
				width: 129px;
				height: 75px;
				background: url(../img/vente@2x.png) no-repeat;
				background-size: 100%;
			}
			&:after{
				background: #ec4113;
			}
			.rect{
				&:before{
					background: #f1661e;
				}
				&:after{
					background: #ec4113;
				}
			}
		}
	}
	&.field-buy{
		.field-header{
			background: linear-gradient(to bottom, rgba(228, 65, 76, 0.95) 0, rgba(199, 32, 44, 0.95) 100%);
			&:before{
				width: 84px;
				height: 83px;
				left: 70px;
				background: url(../img/achat@2x.png) no-repeat;
				background-size: 100%;
			}
			&:after, .rect:before, .rect:after{
				background: #be2b36;
			}
		}
	}
	.breadcrumb{
		padding: 0;
		margin: 0;
		color: #fff;
		a{
			&:hover, &:focus{
				color: rgba(#fff, 0.7);
			}
			&:active{
				color: rgba(#fff, 0.5);
			}
		}
	}
	h1{
		padding: 0;
		position: relative;
		margin-bottom: 0;
		z-index: 1;
	}
	&-content{
		padding: 40px $gutter;
		border: 1px solid $gris;
		border-top: 0;
		overflow: hidden;
		box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.05);
		background: #fff;
		.wrapper-choices &{
			padding: 45px $gutter 13px;
			height: 100%;
		}
		h2{
			+ a{
				margin-right: 15px;
			}
		}
		p, h3{
			padding: 0;
			margin: 5px 0 15px;
			line-height: 1.3;
			letter-spacing: -0.5px;
			color: $txt;
		}
		a.right{
			float: right;
			margin: 10px 0 0;
		}
		.content-align-middle{
			&.wrapper-search-title{
				width: 130px;
			}
			&.wrapper-search-txt{
				h2{
					line-height: 1.1em;
				}
				h2, a{
					display: inline;
					vertical-align: middle;
				}
				a{
					top: 1px;
				}
			}
			&.wrapper-create-alert{
				width: 160px;
				padding-left: 20px;
			}
		}
	}
}


/* Field list */

.field-list{
	@extend %list-base;

	li{
		margin-bottom: 10px;
	}
	a{
		min-height: 210px;
		border: 1px solid $gris;
		border-right: 0;
		box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.05);
		background: #fff;
		&:before{
			left: -8px;
			right: 8px;
			transform: translateX(100%);
		}
		&:hover, &:focus{
			&:before{
				transform: translateX(8px);
			}
			.img{
				opacity: 0.7;
			}
			.link{
				color: #fff;
			}
		}
	}
	.img{
		width: 39%;
		height: 100%;
		position: absolute;
		overflow: hidden;
		transition: $transition;
	}
	img{
		max-width: none;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		bottom: 0;
		margin: auto;
		transform: translateX(-50%);
	}
	.field-txt{
		display: block;
		padding: 40px 60px 40px 43%;
	}
	.title-simple-big{
		vertical-align: middle;
		margin-right: 20px;
		display: inline;
	}
	.p{
		display: block;
		margin: 15px 0 0;
		line-height: 1.3;
		letter-spacing: -0.5px;
	}
}

/* connexion vente */ 
.content-log {
    padding: 50px 70px 90px 70px;
    display: table;
    width: 100%;
    .login-vente {
    	height: 315px;
    	max-width: 50%;
    	display: table-cell;
    	border-right: 1px dashed #000;
    	h3{
    		margin-bottom: 50px;
    	}
    	.info-form{
    		display: inline-block;
    		margin-left: 20px;
    		.btn-simple{
    			font-size: 0.75em;
    		}
    	}
    	label{
    		display: initial;
    		font-size: 1em;
    	}
    	#account-login {
    		margin-left: 53px;
    	}
    	#account-password {
    		margin-left: 33px;
    	}
    	.wrapper-input-btn {
    		input[type=password] {
    			max-width: 140px;
    		}
    		.btn-block{
    			right: auto;
    			margin-top: 20px;
    			margin-left: 128px;
    			padding: 23px 34px;
    		}
    	}
    }
    .sign-up {
    	display: table-cell;
    	//width: 420px;
    	padding-left: 60px;
    	h3{
    		margin-bottom: 47px;
    	}
    	p {
    		max-width: 315px;
    		margin-bottom: 32px;
    		line-height: 1.5;
    	}
    	.wrapper-input-btn {
    		input[type=password] {
    			max-width: 140px;
    		}
    		.btn-block{
    			left: 0;
    			padding: 23px 34px;
    			margin-left: 0; 
    		}
    	}
    }
}
