/* Jobs */
.wrapper-jobs{
	background: $blanc;
	box-shadow: 0px 24px 35px 0px rgba(0, 0, 0, 0.05);
}
.header-jobs{
	position: relative;
	display: flex;
	align-items: center;
	min-height: 80px;
	padding: 20px;
	background: rgb(247, 130, 50);
	background: linear-gradient(to bottom, rgb(247, 130, 50) 0%, rgb(245, 95, 36) 100%);
	z-index: 1;
}
.filters-team{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding: 0;
	color: $blanc;
	>li{
		margin: 0 20px 0 0;
		&:before{
			display: none;
		}
		&:last-child{
			margin-right: 0;
		}
	}
}
.wrapper-form-jobs{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	padding: 30px 20px 10px;
	background: $blanc;
	border: 1px solid $gris;
	&:before{
		content: '';
		display: block;
		height: 50px;
		position: absolute;
		bottom: -50px;
		left: 0;
		right: 0;
		background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
		pointer-events: none;
	}
}
.applicant-form{
	label, legend{
		font-family: $roboto-bold;
		&.size1{
			width: 120px;
		}
		&.size2{
			width: 100px;
		}
		&.size3{
			width: 60px;
		}
		&.size3{
			width: 65px;
		}
		&.legend-next-fieldset{
			margin-top: 10px;
		}
	}
	fieldset{
		display: inline-block;
		vertical-align: top;
		margin-right: 50px;
		&.inline-b{
			max-width: 265px;
			margin-top: 8px;
			margin-right: 0;
		}
		&.size1{
			width: 368px;
		}
		&.small-margin{
			margin-right: 17px;
			margin-bottom: 0;
		}
	}
}
.list-cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0;
	padding: 10px;
	flex-grow: 1;
	>li{
		position: relative;
		flex-basis: calc(33.3333% - 20px);
		display: flex;
		flex-direction: column;
		margin: 10px;
		flex-grow: 0;
		border: 1px solid rgb(119, 119, 119);
		justify-content: space-between;
	}
	header{
		position: relative;
		overflow: hidden;
		flex-basis: 90px;
		flex-shrink: 0;
		flex-grow: 0;
		display: flex;
		align-items: center;
		border-bottom: 1px solid $gris;
		transition: background 0.2s ease-out;
	}
	footer{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
}
.cancel-invalid{
	display: none;
	width: 20px;
	height: 20px;
	padding: 5px;
	color: $blanc;
	position: absolute;
	top: 7px;
	right: 7px;
	font-size: 10px;
	text-decoration: none;
	z-index: 1;
	&:hover{
		color: $blanc;
		transform: rotate(90deg);
	}
}
.diamond{
	display: block;
	position: absolute;
	transform: rotate(45deg);
	opacity: 0;
	transition: opacity 0.2s ease-out;
	&.d-1{
		width: 110px;
		height: 110px;
		top: -85px;
		left: 23px;
	}
	&.d-2{
		width: 110px;
		height: 110px;
		top: 100px;
		left: 65px;
	}
	&.d-3{
		width: 180px;
		height: 180px;
		top: 55px;
		left: 133px;
	}
}
.img-applicant{
	position: relative;
	width: 80px;
	height: 90px;
	flex-shrink: 0;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	border-right: 1px solid $gris;
	background-color: rgb(218, 218, 218);
	overflow: hidden;
	&.no-photo{
		&:before{
			content: '';
			display: block;
			width: 200%;
			height: 26px;
			background-color: rgb(203, 203, 203);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0) rotate(-50deg);
			transform-origin: 50%;
		}
		&:after{
			content: '';
			display: block;
			width: 70%;
			height: 100%;
			position: absolute;
			left: 50%;
			background-image: url('../img/personnel.png');
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			transform: translate3d(-50%, 0, 0);
		}
	}
}
.btn-applicant{
	position: relative;
	font-family: $roboto-cd-bold;
	font-size: 1.4rem;
	color: rgb(155, 173, 217);
	text-decoration: none;
	flex-grow: 1;
}
#btn-valid-filters{
	display: none;
	background: $blanc;
	color: rgb(247, 130, 50);
	padding: 8px 10px;
	.showFilters &{
		display: inline-block;
	}
}
#btn-filters{
	display: inline-block;
	.showFilters &{
		display: none;
	}
}
.btn-cv{
	position: relative;
	padding: 10px;
	text-align: center;
	flex-grow: 1;
	.icon-download{
		display: block;
		margin: 0 auto 2px auto;
		font-size: 24px;
	}
}
.btn-memo{
	text-transform: uppercase;
	.icon-pin2{
		margin-right: 5px;
	}
}
.btn-show-infos{
	text-transform: uppercase;
	margin-right: 20px;
	font-size: 1.2rem;
}
.content-jobs{
	display: flex;
	border-right: 1px solid $gris;
	border-bottom: 1px solid $gris;
	border-left: 1px solid $gris;
	.wrapper-map-jobs{
		width: 250px;
		flex-shrink: 0;
	}
}
.content-card{
	flex-grow: 1;
	padding: 20px;
}
.wrapper-name-distance{
	display: flex;
	justify-content: space-between;
	align-items: center;
	.name{
		font-family: $roboto-cd-bold;
		font-size: 2.5rem;
		margin: 0;
		padding: 0;
		line-height: 1;
	}
	.distance{
		font-family: $roboto-cd-bold;
		font-size: 1.4rem;
	}
	.icon-pin{
		margin-right: 5px;
		color: rgb(197, 46, 64);
	}
}
.applicant-job{
	font-family: $roboto-bold;
	font-size: 1.6rem;
	margin: 0.5em 0 0;
	padding: 0;
	color: $txt;
}
.applicant-desc{
	margin: 0;
}
.wrapper-tel-applicant{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0 10px;
	border-top: 1px solid $gris;
	.tel-applicant{
		font-family: $roboto-bold;
		font-size: 1.3rem;
		margin: 0 20px;
		text-transform: uppercase;
		flex-grow: 1;
	}
	.tel-number{
		&.blurred{
			font-size: 1.2rem;
		}
	}
}
.wrapper-mail-applicant{
	margin: 0 20px;
	padding: 0 0 20px;
	text-align: center;
	.mail-applicant{
		display: inline-block;
		font-family: $roboto-bold;
		font-size: 1.4rem;
		text-decoration: none;
		color: $txt;
	}
}
.tel-number, .mail-applicant{
	&.blurred{
		filter: blur(5px);
		pointer-events: none;
		.is-ie &{
		    filter: none;
		    .blurred-char{
		        display: inline-block;
		        position: relative;
		        &:after{
		            content: '';
		            background: url('../layoutImg/blur-jobs.png') 50% 50%;
		            width: 23px;
		            height: 28px;
		            position: absolute;
		            top: -4px;
		            left: -7px;
		        }
		        > span{
		            opacity: 0;
		        }
		    }
		}
	}
}
.wrapper-btn-applicant{
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 0 -1px;
}
.invalid-txt{
	position: absolute;
	top: 0;
	right: 0;
	bottom: -1px;
	left: 0;
	line-height: 48px;
	font-family: $roboto-cd-bold;
	font-size: 2rem;
	color: $blanc;
	text-transform: uppercase;
	text-align: center;
	background: rgb(183, 183, 183);
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.2s ease-out;
}
.btn-invalid-applicant, .btn-valid-applicant{
	position: relative;
	width: 50%;
	height: 48px;
	line-height: 44px;
	text-decoration: none;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	margin-bottom: -1px;
}
.btn-invalid-applicant{
	color: rgb(197, 46, 64);
	border-color: rgb(197, 46, 64);
	margin-right: 1px;
	font-size: 20px;
	&:focus{
		color: rgb(197, 46, 64);
	}
	&:hover{
		color: $blanc;
		background-color: rgb(197, 46, 64); 
	}
}
.btn-valid-applicant{
	color: rgb(72, 137, 74);
	border-color: rgb(72, 137, 74);
	margin-left: 1px;
	font-size: 26px;
	&:focus{
		color: rgb(72, 137, 74);
	}
	&:hover{
		color: $blanc;
		background-color: rgb(72, 137, 74); 
	}
}
#map-jobs{
	height: calc(100vh - 115px);
	max-height: calc(100% - 115px);
	border-top: 1px solid $gris;
	border-bottom: 1px solid $gris;
	border-left: 1px solid $gris;
}
.footer-map{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 115px;
	padding: 20px;
	p{
		font-size: 1.4rem;
	}
}
.btn-connexion{
	text-transform: uppercase;
	.icon-arrow{
		display: inline-block;
		vertical-align: top;
		font-size: 7px;
		margin: 7px 0 0 2px;
	}
}
.card{
	&:before{
		content: '';
		display: block;
		position: absolute;
		width: auto;
		height: auto;
		margin: 0;
		background: none;
		top: -1px;
		right: -1px;
		bottom: -1px;
		left: -1px;
		opacity: 0;
		border-style: solid;
		border-width: 2px;
		pointer-events: none;
		transition: opacity 0.2s ease-out;
		z-index: 3;
	}
	&.isValid{
		&:before{
			opacity: 1;
			border-color: rgb(72, 137, 74);
		}
		.btn-valid-applicant{
			color: $blanc;
			background-color: rgb(72, 137, 74);
		}
		header{
			background: rgb(72, 137, 74);
		}
		.btn-cv{
			color: $blanc;
		}
		.diamond{
			opacity: 1;
			background: rgb(69, 115, 63);
		}
	}
	&.isInvalid{
		opacity: 0.6;
		.cancel-invalid{
			display: block;
		}
		.btn-invalid-applicant{
			color: $blanc;
			background-color: rgb(197, 46, 64);
		}
		header, .content-card, footer{
			pointer-events: none;
		}
		header{
			background: rgb(183, 183, 183);
		}
		.btn-cv{
			color: $blanc;
		}
		.diamond{
			opacity: 1;
			background: rgb(162, 162, 162);
		}
		.invalid-txt{
			opacity: 1;
		}
	}
}
