
#lb {
    position:fixed;
    z-index:10;
    left:0;
    right:0;
    bottom:0;
    top:0;
    pointer-events:none;
    opacity:0;
    transition: opacity $transition;
    //overflow-y:auto;
    overflow-x: hidden;
    &.on {
        pointer-events:auto;
        opacity:1;
    }
    .black-mask {
        background:$black-masking;
        position:fixed;
        left:0;
        right:0;
        bottom:0;
        top:0;
    }
    .close-btn {
        text-align:center;
        color:$blanc;
        position:fixed;
        right:0;
        top:0;
        width:58px;
        height:58px;
        padding:15px;
        line-height:29px;
        background:$black-masking;
        cursor:pointer;
        text-shadow: 1px 1px 5px $noir;
        z-index: 4;
        &:before {
            display:block;
            transition: transform $transition;
        }
        &:hover {
            background:$black-more-masking;
            &:before {
                transform: rotate(90deg);
            }
        }
    }
    .lightbox-content {
        ul {
            margin:0;
            padding:0;
            pointer-events:none;
            li {
                margin:0;
                padding:0;
                display:block;
                position:absolute;
                width:100%;
                height:100%;
                left:0;
                top:0;
                &:before {
                    display:none;
                }
            }
        }
        img {
            max-height:85%;
            margin:auto;
            bottom:0;
            top:0;
        }
        .wrapper {
            margin:80px auto;
        }
        img, .wrapper {
            max-width:85%;
            display:block;
            z-index: 3;
            left:0;
            right:0;
            position:absolute;
        }
        .field {
            margin:0;
            &.field-sale {
                //background: linear-gradient(to bottom, rgba(#f2821e, 0.95) 0, rgba(#ec4610, 0.95) 100%);
                background: linear-gradient(to bottom, $theme2-gradient-2 0%, darken($theme2-gradient-2, 5%) 100%);
            }
            &.field-buy {
                background: linear-gradient(to bottom, rgba(228, 65, 76, 0.95) 0, rgba(199, 32, 44, 0.95) 100%);
            }
            header {
                padding:30px 60px;
                h1, p {
                    color:$blanc;
                    margin:0;
                }
            }
            h1 {
                font-size:2.2em;
            }
        }
    }
}

.prev-slide, .next-slide {
    position:absolute;
    display:none;
    width:58px;
    height:120px;
    top:50%;
    margin-top:-60px;
    background: $black-masking;
    transition: background $transition;
    z-index: 2;
    &.small {
        width:40px;
        background: $black-less-masking;
    }
    &:after{
        display:block;
        @include font-icon;
        @include size(16px);
        margin:auto;
        font-size: 16px;
        color:$blanc;
        text-shadow: 1px 1px 5px $noir;
        transition: transform $transition;
    }
    &:hover {
        background: $black-more-masking;
        &.prev-slide:after {
            transform:translateX(-5px);
        }
        &.next-slide:after {
            transform:translateX(5px);
        }
    }
    &.prev-slide {
        left:1px;
        &:after {
            content: '\e919';
        }
    }
    &.next-slide {
        right:1px;
        &:after {
            content: '\e91a';
        }
    }
}

#lb .prev-slide {
    left:0;
}
#lb .next-slide {
    right:0;
}

