/* Alerts */

.alerts{
    &-block{
        position: relative;
        margin: 10px 0 4.3em;
        clear: both;
        time{
            font-family: $roboto-cd-bold;
            font-size: 0.88em;
        }
        .title-grey{
            display: inline-block;
            position: relative;
            margin: 0;
            &:before, &:after{
                content: '';
                display: inline-block;
                @include size(3px);
                vertical-align: middle;
                margin: 0 15px;
                border-radius: 50%;
                background: $theme-btn;
            }
            &:after{
                margin-left: 30px;
            }
            .notif{
                right: 30px;
            }
        }
        &-btn{
            position: absolute;
            top: 3px;
            right: 20px;
        }
    }
    &-header{
        margin: 0 100px 0 20px;
    }
    &-list{
        @extend %list-base;
        @extend %list-result;

        border-top: 1px solid;
    }
    &-place{
        font-size: 0.88em;
        white-space: nowrap;
    }
    &-price{
        font-family: $roboto-cd-bold;
        font-size: 1.14em;
    }
}

/* search empty */ 

.search-list-empty{
    border-bottom: 0;
    border-top: 1px solid;
    padding: 100px 0;
    margin-top: 0.5em;
}

/* Sales */

.sales{
    &-list{
        @extend %list-base;
        @extend %list-result;
    }
    &-views{
        display: inline-block;
        vertical-align: middle;
        margin: 0 25px 0 0;
        line-height: 1;
        b, span{
            display: inline-block;
            vertical-align: middle;
        }
        b{
            font-family: $roboto-cd-bold;
            font-size: 1.5em;
        }
    }
}
