/* News */
.news{
	display: table;
	width: 100%;
	width: calc(100% + 40px);
	margin-left: -20px;
	padding: 0;
	border-spacing: 40px 0;
	> li{
		display: table-cell;
		vertical-align: top;
		position: relative;
		width: 50%;
		height: auto;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		background-color: $blanc;
		border: 1px solid $gris;
		&::before{
			display: none;
		}
		&:nth-child(odd){
			.article-date{
				background: linear-gradient(to bottom, rgb(228, 99, 54) 0%, darken(rgb(228, 99, 54), 5%) 100%);
				&:before{
					background-color: rgb(208, 76, 40);
					opacity: 0.3;
				}
			}
			h4{
				color: rgb(227, 88, 55);
			}
		}
		&:nth-child(even){
			.article-date{
				background: linear-gradient(to bottom, rgb(221, 79, 62) 0%, darken(rgb(221, 79, 62), 5%) 100%);
				&:before{
					background-color: rgb(198, 60, 47);
					opacity: 0.5;
				}
			}
			h4{
				color: rgb(221, 80, 62);
			}
		}
	}
	.article-date{
		position: relative;
		width: 73px;
		height: auto;
		color: $blanc;
		overflow: hidden;
		position: absolute;
		top: -1px;
		bottom: -1px;
		left: -1px;
		border-right: 1px solid $gris;
		&:before{
			content: '';
			display: block;
			width: 172px;
			height: 172px;
			position: absolute;
			top: -67px;
			left: -7px;
			transform: rotate(45deg);
		}
	}
	.article-desc{
		padding: 30px 15px 30px 93px;
	}
	time{
		position: relative;
	}
	.day, .month, .year{
		display: block;
		line-height: 1em;
	}
	.day{
		@include roboto-bold(2.313em);
		line-height: 0.9em;
	}
	.month{
		@include roboto(1em);
	}
	.year{
		@include roboto-bold(0.938em);
		letter-spacing: 1px;
		margin: 3px 0 0 0;
	}
	h4{
		line-height: 1em;
	}
	h3{
		line-height: 1em;
		margin: 5px 0 2px 0;
	}
	p{
		@include roboto(0.875em);
		margin: 0;
	}
}