/* tab paiement vente */

.content-sale-paiement{
    position: relative;
    padding-bottom: 60px;
    .orange-txt{
        font-size: 0.59em;
        vertical-align: middle;
    }
    .border{
        background: #FFF;
        padding: 0 4px;
    }
    .paiement-block{
        position: relative;
        margin: 10px 0 4.3em;
        clear: both;
        .paiement-list{
            line-height: 1.5;
            padding-left: 0;
            margin-bottom: 0;
            li{
                &:before{
                    content: none;
                }
                border: 2px #FFF solid;
                margin: 0;
                .recap{
                    background: #f5f5f6;
                    padding: 25px 240px 25px 30px;
                    position: relative;
                    .title-simple{
                        font-size: 1.5em;
                    }
                    
                    .right{
                        height: 27px;
                        position: absolute;
                        right: 20px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        font-size: 1.25em;
                    }
                    .btn-cancel{
                        font-size: 0.7em;
                        margin-left: 10px;
                        vertical-align: baseline;
                    }
                }
            }
        }
        .total{
            position: relative;
            margin: -20px 0 0 480px;
            ul{
                padding-left: 0;
                margin-top: 20px;
            }
            
            li{
                margin: 0;
                &:before{
                    content: none;
                }
            }
            .recap{
                padding: 13px 100px 13px 20px;
                position: relative;
            }
            .right{
                height: 27px;
                position: absolute;
                right: 20px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
    .p{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        max-width: 100%;
        margin: 0;
        font-size: 1em;
    }
    .paiement-block{
        .border-top{
            border-top: 1px #000 solid;
        }
        .credit{
            margin: 40px 0 30px;
            .big-txt{
                padding: 0 5px;
            }
        }
    }

    .paiement-option{
        position: relative;

       .option{
           width: 50%;
           display: inline-block;
           vertical-align: middle;
           &.option-left{
                padding-right: 10px;
            }
            &.option-right{
                padding-left: 10px;
            }
        }
    }
    fieldset{
        margin: 35px 0;
        label{
            font-size: 1em;
            a{
                text-decoration: underline;
            }
        }
    }
    .btn-block{
        background: #ee5f20;
    }
    .grey{
        position: relative;
        text-align: right;
        .btn-align-right{
            vertical-align: middle;
            float: none;
            margin-left: 45px;
        }
    }
}

.grey{
    color: #9b9b9c;
}
.grey-border{
    color: #9b9b9c;
    border: 1px #9b9b9c solid;
}

.big-txt{
    font-family: $roboto-bold;
    font-size: 1.25em;
}
