.blur {
    -webkit-filter: blur(5px);
    background: rgba(0, 0, 0, 0.1);
}

.popup-container{
    background: #FFF;
    max-width: 1050px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.popup-content {
    padding: 40px $gutter 0;
    ul{
        padding-left: 0;
        li{
            &:before{
                display: none;
            }
        }
    }
    h4{
        color: $orange;
    }
    h2{
        padding-top: 0;
        margin-bottom: 0;
    }
    
    .presentation-leads{
        width: 50.5%;
    }
    .eval-lead{
        font-size: 0.88em;
        display: inline-block;
        width: 50%;
        margin-bottom: 1em;
        p{
            margin: 0;
        }
        li{
            margin-bottom: 20px;
        }
        &:nth-child(3){
            width: 49%;
            padding-left: 59px;
        }
    }
    .btn-delete{
        text-transform: none;
        font-size: 0.88em;
        margin: 3.4em;
        position: absolute;
        right: 0;
    }
    .btn-orange{
        padding: 13px 16px;
        background: $orange;
    }
}