$transition: .3s ease-in-out;


/******* GÉNÉRAL *******/

::-moz-selection{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: none;
}
::selection{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: none;
}

html{
  font-size: 62.5%; /* sets the base font to 10px for easier math */
  background-color: $gris-bg;
  color: $txt;
}

body{
  font-family: sans-serif;
  /* sets the default sizing to make sure nothing is actually 16px */
  line-height: 1;
}

h1{
    @include roboto-bold(4em);
    margin: 0;
    padding: 0 60px;
    &.big{
      font-size: 6.5em;
      text-align: center;
      padding: 0;
    }
}

h2{
    @include roboto-bold(2em);
    color: $theme-rouge-title;
    &.h1{
      @include roboto-bold(4em);
      padding: 0 115px;
      color: $txt;
    }
}

h3{
    font-size: 2.8em;
    margin: 1em 0;
    &.h2{
      @include roboto-bold(2em);
      margin: 0;
    }
}

h4{
    @include roboto-bold(1.2em);
    margin: 0 0 7px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h5{
    font-size: 1.3em;
    margin: 1.67em 0;
}

h6{
    font-size: 1.1em;
    margin: 2.33em 0;
}

p{
    @include roboto(1.6em);
    line-height: 1.3em;
    margin: 1em 0;
}

b, strong{

}

i, em{

}

blockquote{
    margin: 1em 40px;
}

ol, ul{
    margin: 1em 0;
    padding: 0 0 0 40px;
}

img{
  max-width: 100%;
  height: auto;
}


/******* LIENS / BOUTONS *******/

a{
  text-decoration: none;
  transition: $transition;
  &:focus, &:hover{
  }
  &:focus{
      outline: 0;
  }
  &:active{
  }
}


/******* FORMULAIRES *******/

::-webkit-input-placeholder{
    color: rgb(139, 139, 139);
}
::-moz-placeholder{
    color: rgb(139, 139, 139);
}
:-ms-input-placeholder{
    color: rgb(139, 139, 139);
}

label{

}

fieldset{

}

input, textarea, select, button{
  transition: $transition;
  &:focus{
      outline: 0;
  }
}

input, textarea{
  &:-webkit-autofill{
      box-shadow: 0 0 0 1000px rgb(255, 255, 255) inset;
  }
}

input{

}

textarea{

}

select{

}


/******* MODULES *******/

.container{
    max-width: 1196px;
    padding: 0 20px;
    margin: 0 auto;
}

/******* CLASSES GENERALES  *******/

.reset-list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.hidden{
    display: none !important;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.wrapper-alignment{
  display: table;
  table-layout: fixed;
  width: 100%;
  box-sizing: border-box;
}

.content-align-middle{
  display: table-cell;
  vertical-align: middle;
}

.content-align-top{
  display: table-cell;
  vertical-align: top;
}

.clearfix:before,
.clearfix:after{
    content: ' ';
    display: table;
}
.clearfix:after{
    clear: both;
}

.position-relative{
  position: relative;
}

.center-align{
  text-align: center;
}

.img-fit{
  &.compat-object-fit {
    background-size: cover;
    background-position: center center;
    img { // hide image if object fit is not supported - opacity to 0 for the link area
      opacity: 0;
    }
  }
}