@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/Roboto-Italic-webfont.woff') format('woff'),
         url('../fonts/Roboto-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('../fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-MediumItalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('../fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url('../fonts/RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/RobotoCondensed-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/robotocondensed-regular-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-regular-webfont.svg#roboto_condensed_regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('../fonts/robotocondensed-italic-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-italic-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-italic-webfont.svg#roboto_condensed_italic') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'fdc';
    src: url('../fonts/fdc.woff2?a49uhg') format('woff2'),
         url('../fonts/fdc.woff?a49uhg') format('woff'),
         url('../fonts/fdc.ttf?a49uhg') format('truetype'),
         url('../fonts/fdc.svg?a49uhg#fdc') format('svg');
    font-weight: 400;
    font-style: normal;
}


[class^='icon-'], [class*=' icon-']{
    @include font-icon;
}

$icons: (
    lock: '\e90e',
    bulb: '\e90d',
    check: '\e907',
    cross: '\e906',
    home: '\e911',
    twitter: '\f099',
    facebook: '\f09a',
    linkedin: '\f0e1',
    google: '\f0d5',
    viadeo: '\f2a9',
    share: '\e904',
    user: '\e901',
    mail: '\e902',
    tool: '\e903',
    arrow: '\e900',
    error: '\e908',
    pen: '\e905',
    trash-bin:'\e909',
    trash-cover: '\e90b',
    plus: '\e90a',
    mail2: '\e90c',
    ding: '\e90f',
    flash: '\e910'
);
@each $name, $icon in $icons {
    .icon-#{$name}:before {
        content: $icon;
    }
}
