/* Placeholders */

%btn-arrow-base{
    position: relative;
    font-family: $roboto-cd-bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    backface-visibility: hidden;
    &.big{
        font-size: 1.2em;
    }
    &.small{
        font-size: 0.75em;
    }
}

%btn-arrow{
    padding: 0 5px 0 0;
    &::after{
        @include font-icon;
        content: '\e900';
        display: inline-block;
        padding: 0 0 0 1px;
        margin: 0 0 0 5px;
        vertical-align: middle;
        transform: translate3d(0, -0.2em, 1px);
        font-size: 6px;
        transition: transform 0.2s ease-in-out;
    }
    &:hover{
        &::after{
            transform: translate3d(5px, -0.2em, 1px);
        }
    }
}

%btn-arrow-back{
    padding: 0 0 0 5px;
    &::before{
        @include font-icon;
        content: '\e900';
        display: inline-block;
        padding: 0 1px 0 0;
        margin: 0 5px 0 0;
        vertical-align: middle;
        transform: translate3d(0, -0.2em, 1px) rotate(180deg);
        font-size: 6px;
        transition: transform 0.2s ease-in-out;
    }
    &:hover{
        &::before{
            transform: translate3d(-5px, -0.2em, 1px) rotate(180deg);
        }
    }
}


%list-small{
    padding: 0;
    li{
        margin-bottom: 0;
        &::before{
            @include size(3px);
            margin-right: 5px;
            border-radius: 50%;
            background: $theme-gradient-2;
        }
    }
}

%input{
    display: inline-block;
    padding: 10px;
    border: 1px solid #ebebeb;
    font-size: 16px;
    line-height: 1;
    outline: 1px solid #dadada;
    background: none;
    color: inherit;
    &:focus{
        border-color: $bleu-link;
        outline: 1px solid $bleu-link;
        outline-offset: 0;
    }
    .error &{
        border-color: $error;
        outline: 1px solid $error;
    }
}
